[2020-12-28 16:03] mbroadhead opened #1 "Unsupported grep -P option on Mac OS"
Hi,
Thanks for authoring this plugin.
Mac OS uses BSD grep rather than GNU grep. Because of this, grep's `-P, --perl-regexp` option is not available on Mac OS . This causes a bunch of error lines to be output every time you start a new shell with this plugin enabled:
`usage: grep [-abcDEFGHhIiJLlmnOoqRSsUVvwxZ] [-A num] [-B num] [-C[num]]`

Here are a few options to support Mac OS:
 - Option #1: U

[2020-12-28 17:12] jeffreytse commented on #1
Hi @mbroadhead

Hope you have a nice day. Also, thanks for your good help and support on this plugin.

Thanks and regards

[2020-12-31 18:51] BerkeleyTrue opened #2 "Mode indicator isn't updating"
Switching from oh my zsh vi-mode. I have a theme I've created based on keymaps. It seems that this plugin is somehow changing the keymap or preventing my theme from updating on keymap changes.

Here is the theme I'm using, pointing to the section where keymap is updated. It hooks into the precmd func.
https://github.com/berkeleytrue/dotfiles/blob/master/.config/zsh/ghanima.zsh-theme#L99

[2021-01-01 06:39] jeffreytse commented on #2
Hi @BerkeleyTrue

Thanks for your reporting this issue, and now this issue has been addressed and settled down.

Thanks and regards

[2021-01-02 18:01] BerkeleyTrue commented on #2
Works!

[2021-01-02 18:01] #2 closed

[2021-01-02 18:07] BerkeleyTrue opened #3 "local cat alias breaks `d` in normal mode"
I've got `cat` aliased to `bat` locally, and it seems that cat is used internally to parse keys using the -v key which isn't supported by bat.

![image](https://user-images.githubusercontent.com/6775919/103463516-c320ee80-4ce1-11eb-8a73-8b7ee50a5770.png)

ref: https://github.com/jeffreytse/zsh-vi-mode/blob/b74c0dfc712593b14c4dff6449e58623d7dc7b8f/zsh-vi-mode.zsh#L251

Not sure if this is workable

[2021-01-03 03:38] jeffreytse commented on #3
Hi @BerkeleyTrue

🎉 Firstly, thank you very much for your issue reporting, and now this issue has been addressed and settled down. Welcome to star this project for further features in the future.

Thanks and regards

[2021-01-03 18:25] BerkeleyTrue commented on #3
Woah! very nice! Works like a charm. I'll be switching over now. Thanks for the hard work!

[2021-01-03 18:25] #3 closed

[2021-01-05 05:58] worldpotato opened #4 "incompatible with fzf"
First of all, let me say that it is a really nice plugin! Thank you!

But I found out that it is not compatible with some fzf features like the backward search. Which is really a bummer for me.

If I should provide some more infos like log files, my configuration etc. please let me know. I don't really know what could help you.

[2021-01-05 07:49] jeffreytse commented on #4
Hi @worldpotato

Firstly, so happy to heard that you love this plugin, this is my pleasure. Currently it's a really new plugin and I'm so sorry for that you met a compatible issue. And I will work to solve this problem, please be patient.

I will let you know if I need any more detail information about this issue. And welcome to star this project for updates and further features in the future.

Th

[2021-01-09 14:20] jeffreytse commented on #4
Hi @worldpotato

Thanks for your patient. Since this plugin will overwrite the previous key bindings, this causes the `fzf` key bindings to fail. Currently this plugin has provided a mechanism to execute extra commands ( bb1857d ).

Now you have the below aspects for executing something:

[code]

You can solve the compatibility issue as below:

[code]
or
[code]
or

[code]

Thanks and regards

[2021-01-09 15:48] worldpotato commented on #4
Wow!
Thank you very much for the patch!

Also a lot of thanks for the detailed explenation how to use it. Will try that later!

[2021-01-09 17:30] BerkeleyTrue commented on #4
Works for me as well! Thanks for the quick response!

[2021-01-10 15:22] jeffreytse commented on #4
Hi @worldpotato @BerkeleyTrue

:tada: Firstly, I hope your guys have a day. And now I have a big good news for you.

The latest commit ( aad07d8 ) now has supported **the lazy keybindings feature**, this feature will postpone some keybindings (i.e. normal/visual mode) to the first time you enter the normal mode. This feature can greatly improve the start up speed, it is faster almost 800% - 1000%

[2021-01-10 17:54] BerkeleyTrue commented on #4
@worldpotato I think this issue can be closed

[2021-01-10 17:55] worldpotato commented on #4
@BerkeleyTrue Absolutly

[2021-01-10 17:55] #4 closed

[2021-01-10 20:52] BerkeleyTrue opened #5 "Pasting in normal mode breaks"
Not sure exactly when this started happening, but pasting breaks in subtle ways.

![image](https://user-images.githubusercontent.com/6775919/104135013-2b0ab100-5342-11eb-8726-6632857103a7.png)

Here I've entered normal mode, and hit `p`. This pasted the contents of the buffer below my prompt. I cannot navigate to this content, and hitting `dd` to delete the line only deleted a single character at

[2021-01-11 11:17] ftpd opened #6 "Cursor in insert mode is forced to be vertical line."
I always had box cursor and I don't like to have it another way. Since using this plugin, it forces my cursor to be vertical line instead of box (box is in normal mode only - exactly opposite that I want it to be).

Any chance to add an option to set it?

[2021-01-11 13:48] jeffreytse commented on #5
Hi @BerkeleyTrue

Thanks for your actively reporting. And now I have confirm the bug about `dd` to delete the line but only deleted a single character at the end of content. But the navigation issue has not appeared yet. I will focus to figure out the issues and thanks agian for your support.

Thanks and regards

[2021-01-11 14:02] jeffreytse commented on #6
Hi @ftpd

In fact, this plugin has provided an option for configurating the cursor style. And you can find out all the configuration details in the head of source code:

https://github.com/jeffreytse/zsh-vi-mode/blob/aad07d8bc4197d6a1e4458fe29fb31cb451f7dad/zsh-vi-mode.zsh#L25-L29
and
https://github.com/jeffreytse/zsh-vi-mode/blob/aad07d8bc4197d6a1e4458fe29fb31cb451f7dad/zsh-vi-mode.zsh#L119-L125

[2021-01-11 14:32] ftpd commented on #6
Thanks - I haven't seen it in Readme, so I somehow thought it's not supported. I should take a look into code ;-)

I'm closing this issue as fixed now.

[2021-01-11 14:32] #6 closed

[2021-01-11 14:37] jeffreytse commented on #6
Hi @ftpd

😄 You are welcome. And you can star this repository for the updates and features in the future. Currently I'm focusing on this plugin and making it better and better.

Thanks and regards.

[2021-01-12 13:52] jeffreytse commented on #5
Hi @BerkeleyTrue

Thanks for your patient, and after some effort I have figured out some issues about visual line, such as `dd` to delete one line or `cc` to change one line and so on,  the commit ( 0bcfe76 ) has fixed the issues mentioned, welcome to update it.

Thanks and regards

[2021-01-19 15:54] jeffreytse commented on #5
Hi @BerkeleyTrue

So many thanks for your details about the issue, and my site still can not reproduce the issue. Could we have another approach for digging this issue?

Thanks and regards

[2021-01-21 10:12] jeffreytse commented on #6
Hi @ftpd

The latest commit ( f9b508d ) has provided some options for users to custom the cursor style for better terminal compatibility.

1. You can set your cursor style for different vi mode:

[code]

2. And the below cursor style are supported:

[code]

3. Custom your cursor style is easy as below:

[code]

Thanks and regards

[2021-01-21 11:07] ftpd commented on #6
Wow, neat! Thanks!

[2021-01-21 16:51] BerkeleyTrue commented on #5
@jeffreytse how do you mean? I can do some more debugging if you give me some guidance as I'm not that familiar with the inner works of zsh.

[2021-01-26 16:30] jeffreytse commented on #5
@BerkeleyTrue

I means that if you could provide the details about your enviroment, such as plugins that you are using and so on, maybe it is a conflict on some plugin. Or that we can talk with one IM, maybe it is better.  : )

Thanks and regards

[2021-01-26 19:23] ztlevi opened #7 "[BUG] output disapears"
Hi,

Thanks for this great plugins. I found this plugin very useful, but I realized the output will disappear. And I have no idea why this would happen.

For the reference. I am using my [Dotfiles](https://github.com/ztlevi/Dotfiles/blob/master/shell/zsh/.zshrc). During testing, I comment out [these lines](https://github.com/ztlevi/Dotfiles/blob/master/shell/zsh/.zshrc#L3-L14) and leave only antig

[2021-01-27 23:26] ztlevi commented on #7
Are u able to reproduce that? I can add more instructions if u cannot

[2021-01-28 02:41] jeffreytse commented on #7
Hi @ztlevi

Yes, I was not able to reproduce this issue, I need more instructions from your side.

Thanks and regards

[2021-01-28 03:01] ztlevi commented on #7
Can u try the following?

1. Clone
[code]

2. Comment out [these lines](https://github.com/ztlevi/Dotfiles/blob/master/shell/zsh/.zshrc#L3-L14) in my zsh config.

3. Add `antigen bundle jeffreytse/zsh-vi-mode` in `$HOME/Dotfiles/shell/zsh/bundles.zsh`
4. `./deploy shell/zsh` then start a new zsh in the current terminal
5. Try `ls`

[2021-01-29 01:12] jeffreytse commented on #7
Hi @ztlevi

Currently I am digging this this issue, please be patient, I will update here if got any progress.

Thanks and regards

[2021-01-30 08:44] jeffreytse commented on #7
Hi @ztlevi

🎉 Thanks for your instructions and this issue has been addressed and settled down, please update the plugin and try it again.

Thanks and regards

[2021-01-30 09:25] ztlevi commented on #7
@jeffreytse Thanks! It works!

Antigen is little weird, I'm using `antigen update` but it only updates some other plugins. I have to delete or manually upgrade zsh-vi-mode.

[2021-01-30 09:25] #7 closed

[2021-01-30 09:29] jeffreytse commented on #7
Hi @ztlevi

You are welcome! Hope this plugin can make your work more convenient. 👍 And currently I'm using the `zinit` for plugin management, maybe you can have a try.

Thanks and regards

[2021-02-01 21:08] mskar opened #8 "Surround not working"
I cloned and sourced the plugin:
[code]
Incrementation/decrementation works (`<C-a>`/`<C-x>`), but surround (e.g. `yse"`) doesn't.
I tried it with visual selection and with motions. Am I doing something wrong?

[2021-02-01 21:14] mskar commented on #8
Ok, `S"` works to surround with " in visual mode, but `ds` cs` and `ys` don't work for me.
It may be something in [my config](https://github.com/mskar/setup/blob/84cc2baac73a4d035ca24238b45953e6503a624a/.zshrc) is conflicting with the plugin.

[2021-02-01 21:19] mskar opened #9 "read-only variable: ZVM_NAME"
What does this mean?

[code]

How can I avoid this message upon shell startup?

[2021-02-02 01:06] jeffreytse commented on #9
Hi @mskar

Could you provide the instructions about how you loaded this plugin?

Thanks and regards

[2021-02-02 06:07] jeffreytse commented on #8
Hi @mskar

I think you can utilize the method of exclusion (i.e. comment some lines) to check which part caused the confliction. Any issue welcome to commit here, I will try to help you figure it out.

Thanks and regards

[2021-02-02 14:01] mskar commented on #9
I cloned and sourced the plugin:
[code]
I think I will have to use the process of elimination to see which line(s) in [my .zshrc](https://github.com/mskar/setup/blob/main/.zshrc) is/are causing the problem.

[2021-02-02 14:02] mskar commented on #8
Thanks, I will experiment with commenting out lines and then report back here.

[2021-02-02 14:05] jeffreytse commented on #9
Hi @mskar

👍 You are right, to use the process of elimination to see the promblem. Any progress, please share to here, in case of it could help other people.

Thanks and regards

[2021-02-02 14:42] BerkeleyTrue commented on #5
@jeffreytse Here are the plugins and config I use for zsh https://github.com/berkeleytrue/dotfiles/blob/master/.config/zsh/.zshrc
And my theme
https://github.com/berkeleytrue/dotfiles/blob/master/.config/zsh/ghanima.zsh-theme

[2021-02-03 08:57] jeffreytse commented on #5
Hi @BerkeleyTrue

Thanks for your instructions to help me to check this issue, now your issue about weird paste has been addressed, this issue caused by your `.zshrc` at [L102](https://github.com/BerkeleyTrue/dotfiles/blob/1887e9185b0c942d557eda428dc2bf72e83c8b32/.config/zsh/.zshrc#L102), here you put your content to the `CUTBUFFER`, so you hit `p` will put the content after the current line.

Tha

[2021-02-03 16:42] BerkeleyTrue commented on #5
@jeffreytse Thanks for looking into it. Should I remove the offending code?

[2021-02-07 01:41] jeffreytse commented on #5
Hi @BerkeleyTrue

Remove the offending code can fix your issue, actually I have reproduced your issue in my side with your dotfile, I have commit a [PR](https://github.com/BerkeleyTrue/dotfiles/pull/5) for you, you can have a try.

Thanks and regards

[2021-02-07 03:00] BerkeleyTrue commented on #5
@jeffreytse I just gave it a try and I was still seeing the same behavior

[2021-02-07 03:29] jeffreytse commented on #5
Hi @BerkeleyTrue

I want to know whether you are using the terminal by remote ssh?

Thanks and regards

[2021-02-07 17:06] BerkeleyTrue commented on #5
I use kitty terminal and run tmux

[2021-02-08 06:40] jeffreytse commented on #5
Hi @BerkeleyTrue

I have tried again your issue, it is a feature in fact, because you use `dd` to delete one line, you use `p` will put the line after current line and the paste content will be highlighted also.

Thanks and regards

[2021-02-08 07:08] ls42 opened #10 "'dw' deletes first character of the next word"
Hi,

thanks for this awesome plugin, I love the cursor transformation in different modes and increased visual feedback in visual mode. :-)

I found an oddity that appears to be a bug. I've tried to look into it myself, but `zsh-vi-mode.zsh` is a bit too much for my zsh scripting skills (although it is very well commented).

Sample string: "apple orange"

When typing `dw` at the beginning of the wo

[2021-02-08 07:28] jeffreytse commented on #10
Hi @ls42

Firstly thanks for your detailed description about the bug and I have confirm this bug. I will figure out this issue asap, and welcome to star this project for further updates.

Thanks and regards

[2021-02-08 08:39] jeffreytse commented on #10
Hi @ls42

🎉 Here is a good news! This issue has been addressed and fixed, please update it and have a try.

Thanks and regards

[2021-02-08 08:54] ls42 commented on #10
That is amazing, thank you so much! Tested it, working perfectly now. Have a great day 👋

[2021-02-08 08:54] #10 closed

[2021-02-08 09:43] jeffreytse commented on #10
Hi @ls42 , 😃 Also hope you have a great day! And hope this plugin could help you work better.

[2021-02-08 20:12] GerardKetuma commented on #9
I'm also having this issue. Get this on the terminal when I run `source`
`~/.oh-my-zsh/custom/plugins/zsh-vi-mode/zsh-vi-mode.zsh:105: read-only variable: ZVM_NAME`

Line 105 of zsh-vi-mode.zsh is below:
`typeset -gr ZVM_NAME='zsh-vi-mode'`

It seems that ZVM_NAME cannot be set for some reason.

[2021-02-08 20:38] mskar commented on #9
Could it be an OS-specific issue?
@GerardKetuma, do you also use MacOS?
https://opensource.apple.com/source/zsh/zsh-65/zsh/Doc/help/typeset.auto.html

[2021-02-08 21:13] GerardKetuma commented on #9
@mskar Yes, I'm using Mac OSX.

Tried removing the `-r` option but still got the same error.

[2021-02-09 01:54] jeffreytse commented on #9
Hi, @GerardKetuma @mskar

Many thanks for you guys reporting this issue and I'm so sorry for the inconvenient. Could you provide more details for me to dig this problem? Currently I have no way to reproduce it.

Thanks and regards

[2021-02-10 18:44] oars opened #11 "Cursor style maintained across terminals"
With TMux the cursor style is changed across all terminals.

Ideally I would love to be able to have a block style outside of the shell. So even if I was in insert mode with a pipe, when I go into vim for example I'd like it to go back to a block. Similarly if I go to a different terminal I'd like it to be independent, although I don't know how feasible that is.

[2021-02-10 19:01] oars opened #12 "Cursor should move to the end of line when using up/down arrows to look at previous commands"

[2021-02-11 03:02] jeffreytse commented on #11
Hi @oars

Since Tmux is a terminal multiplexer, simply speaking,  multiple windows and panes share a single terminal window. So when you switch between pannels, you will meet that the cursor style was not changed, in fact it is the same terminal as we known, unless it is updated by the program in another panel, but luckly the vim or nvim will update the cursor stlyle when you press some keys and a

[2021-02-11 03:06] jeffreytse commented on #12
Hi @oars

In fact, the cursor will be move to the end of line when using up/down arrows to look at previous commands. But this is weird your side didn't reach this result. Could you provide me further instructions?

Thanks and regards

[2021-02-11 03:45] pingshunhuangalex opened #13 "Backspace still delete characters in normal mode"
When in normal mode, hitting backspace still allow users to delete characters which is not the right behaviour in Vim.

[2021-02-11 03:55] pingshunhuangalex opened #14 "Start zsh in normal mode"
Atm when zsh is initialised with the plugin, it automatically goes to insert mode. It kinda make sense in a command-line context but just wondering if it's possible to start zsh with the normal mode which matches Vim's behaviour better.

[2021-02-11 03:56] jeffreytse commented on #13
Hi @pingshunhuangalex

Thanks for you reporting, this plugin handled the backspace with the same behavior in Vim. Could you provider me further instructions for digging this problem?

Thanks and regards

[2021-02-11 04:01] jeffreytse commented on #14
Hi @pingshunhuangalex

As you said, it automatically goes to insert mode when zsh is initialised, I will add an option for initial mode, and I will update here for this new feature.

Thanks and regards

[2021-02-11 04:02] pingshunhuangalex commented on #13
Step to reproduce:
- start terminal with the plugin
- type some random stuff in the command line
- hit `esc` to enter normal mode (from insert mode)
- hit `backspace` a couple of times

Result:
The characters are deleted starting from the second last position (due to going into normal mode)

What's expected (behaviour in Vim)
The cursor position should start to move to the left character by charac

[2021-02-11 04:20] pingshunhuangalex opened #15 "Partial history search from "zsh-autosuggestions" is overidden"
I use `zsh-autosuggestions` for auto-complete which provides a very neat partial search capability. However, with the installation of `zsh-vi-mode`, partial search no longer works and was forcefully replaced with jumping among historical commands.

Steps to reproduce:
- run 2 commands such as `test working 1` and `test not working 2`
- when `zsh-vi-mode` is not installed, typing `test` and pressin

[2021-02-13 11:05] jeffreytse commented on #15
Hi @pingshunhuangalex

Thanks for your issue and currently I am a little bit busy, I will do the digging and reply you as soon as possible, please be patient.

Thanks and regards

[2021-02-14 13:20] MonstrousOgre opened #16 "AUR packages"
First of all, I just discovered this plugin and love it.

Since I don't use a plugin manager for zsh and didn't want to pull regularly, I created the AUR packages [zsh-vi-mode](https://aur.archlinux.org/packages/zsh-vi-mode/) and [zsh-vi-mode-git](https://aur.archlinux.org/packages/zsh-vi-mode-git/)

Maybe you could add this to the README? It currently installs to `/usr/share/zsh/plugins/zsh-vi-mo

[2021-02-14 16:00] jeffreytse commented on #16
Hi @MonstrousOgre

Thanks for your support and I love this plugin. As you said, some people may not use any one of plugin managers for zsh, so I think your request is quite helpful for lot of users. I could add this to the `README` file, and I would rather maintain the AUR packages myself for updates in future.

Thanks and regards

[2021-02-15 06:33] MonstrousOgre commented on #16
@jeffreytse sure! Just let me know your AUR username and I'll add you as a maintainter.

[2021-02-15 06:40] jeffreytse commented on #16
Hi @MonstrousOgre

My AUR username is `jeffreytse`

Thanks and regards

[2021-02-15 06:43] MonstrousOgre commented on #16
Done!

[2021-02-17 02:40] ngmariusz opened #18 "due to many colisions introduse disabled/enable switch"
we should have this switch

ecosystem is like:

[code]

*do now i have to create bindings fo all my widgets like?*

[code]

[2021-02-17 02:48] jeffreytse commented on #18
Hi @ngmariusz

Thanks for your good question. Exactly, you are right, it is better to use the `zvm_bindkey` to bind your widgets to avoid some unnecessary problems. Also, you should do the keybindings at the right stage ([See here](https://github.com/jeffreytse/zsh-vi-mode#execute-extra-commands)).

Especially, if __the lazy keybindings feature__ is enabled, all the keybindings for `vicmd` and `vi

[2021-02-17 06:01] jeffreytse commented on #9
Hi @GerardKetuma @mskar

The commit (cd50109) has added a new feature to avoid sourcing this plugin multiple times. Welcome to update to this plugin and give some feedback.

Thanks and regards

[2021-02-17 08:02] ngmariusz commented on #18
in case anybody struggles

# will give you a list of existing keymap names.
[code]

#  will list all the bindings in a given keymap.
[code]
# to check your key press combination signal just go
[code]
when cat is active press your keys

# i still have problem with multikey action
@jeffreytse here i'm trying double hit f2; any sugestions? (no problem with 'signle key combnation')
[code]

@jeffreytse

[2021-02-17 08:22] ngmariusz opened #19 "clipboard workaround"
While we wait for final solution you can patch zsh-vi-mode plugin if it's deal breaker for you.

For those not very familiar with bash just find plugin file `~/.oh-my-zsh/custom/plugins/zsh-vi-mode/zsh-vi-mode.zsh` and then function `zvm_yank()`; In my case for windows wsl2 ubuntu20 it's like so:

![image](https://user-images.githubusercontent.com/3337832/108175109-a0fff600-7100-11eb-9258-1521791a

[2021-02-17 09:05] jeffreytse commented on #18
Hi @ngmariusz

Thanks for your tips to other users who also struggles in the issue. Currently zsh's `bindkey` doesn't support to bind multiple control keys (i.e. Function keys `F1`-`F12` and Command keys `Ctrl-<KEY>`), so the following example is invalid.

[code]

So I suggest you trying to bind to other key sequences.

Thanks and regards

[2021-02-17 09:51] jeffreytse commented on #16
Hi @MonstrousOgre

I have added related installation on AUR to [README](https://github.com/jeffreytse/zsh-vi-mode#arch-linux-aur).

Thanks and regards

[2021-02-17 20:42] oars commented on #12
Thanks, for some reason in my case the cursor is at the start of the previous commands, not at the end.

[2021-02-17 21:36] mskar commented on #9
@jeffreytse, I think this change fixed the issue. I will close the issue now.
@GerardKetuma, if you still get the message, please let me know and I can reopen this issue.

[2021-02-17 21:36] #9 closed

[2021-02-17 21:54] mskar opened #20 "Cursor is initially block shaped and switches to block shape after time"
When opening a new terminal, the cursor is initially block shaped,
![image](https://user-images.githubusercontent.com/13444106/108272538-5ef6a480-7140-11eb-8da6-9768afa495d0.png)
when it should be in bar/beam shaped
![image](https://user-images.githubusercontent.com/13444106/108272641-89486200-7140-11eb-80ba-7d993bfa46f8.png)
To switch to beam shape, I have to type a full normal mode command (e.g.

[2021-02-17 22:17] mskar commented on #20
I tried this other plugin and don't have this same problem: https://github.com/softmoth/zsh-vim-mode
Is there a way to disable the cursor functionality of zsh-vi-mode?

[2021-02-17 22:26] mskar commented on #8
I tried this other plugin: https://github.com/softmoth/zsh-vim-mode
and the surround functionality doesn't really work for me there either, so it's definitely a problem with my config😄

[2021-02-18 02:45] jeffreytse commented on #20
Hi @mskar

You can custom your cursor style ([See here](https://github.com/jeffreytse/zsh-vi-mode#custom-cursor-style)). I will add a option to support disabling custom the cursor style in the future.

Thanks and regards

[2021-02-18 02:51] jeffreytse commented on #20
Hi @mskar

About the issue that it switches back to block after a short time, are you using the Tmux?

Thanks and regards

[2021-02-18 04:08] ngmariusz commented on #18
Thank you.

Let me clarify

I'd like to bind double key press to execute my widget

- this works fine when zsh-vi-mode is NOT active
[code]

- this does not work when zsh-vi-mode is active
[code]
it registers only first press

- it works when zsh-vi-mode is active
[code]
but it's not a goal;

- this also doesn't work; (sort of)
[code]
my guess is timing - somehow when zsh-vi-mode is active it chan

[2021-02-18 04:14] jeffreytse commented on #18
Hi @ngmariusz

I will have a further checking about this issue, any information I will upadte you.

Thanks and regards

[2021-02-18 10:24] jeffreytse commented on #15
Hi @pingshunhuangalex

This plugin never overwrite the keybindings on arrow keys, and the history search functionality is not from the `zsh-autosuggestions`, this commit (dfa6f0b) has added some keybindings for the partial history search. Welcome to update your plugin to it.

Thanks and regards

[2021-02-18 10:32] pingshunhuangalex commented on #15
Thanks for the quick fix. I'm still a bit confused here.

- So the partial search may be from the terminal (I'm using Hyper) if it's not from `autosuggestion` cuz I only used `autosuggestion` and `syntaxhighlight` in my zsh.
- It wasn't supported previously cuz the arrow key was never mapped in `vi-mode`, and now with your commit, it's fixed

Did I get the relationship right? Thanks

[2021-02-18 10:38] jeffreytse commented on #15
Hi @pingshunhuangalex

You have got the relationship correctly, as the arrow key was never mapped, it is using the default mapping in vi mode.

Thanks and regards

[2021-02-18 13:50] mskar commented on #20
Hi @jeffreytse, yes, I am using tmux.

[2021-02-18 14:54] jeffreytse commented on #20
Hi @mskar

It's reasonable for the cursor switching back to block. Because the tmux is a terminal multiplexer, there are multiple terminal in the same session, so any one program of this session could change the cursor. So I think you have a vim program in the session and the vim will set the cursor style automatically.

Thanks and regards

[2021-02-18 23:28] pingshunhuangalex commented on #15
Confirmed fixed. Works like a charm. Thanks

[2021-02-18 23:28] #15 closed

[2021-02-19 15:01] jeffreytse opened #21 "Add an option for disabling cursor style"
This feature supports to disable the cursor style update, so that this plugin will not update the cursor style when the `ZVM_CURSOR_STYLE_ENABLED` variable value is `false`, the default value is `true`.

[2021-02-21 02:06] #21 closed

[2021-02-21 02:09] jeffreytse commented on #20
Hi @mskar

Now the commit (7a4a029) has provided the `ZVM_CURSOR_STYLE_ENABLED` option to disable the cursor style feature, if you don't want the cursor style, you can set it to `false`.

Thanks and regards

[2021-02-21 04:48] jeffreytse opened #22 "Support line initial mode"
Add an option `ZVM_LINE_INIT_MODE` to support setting the command line mode, you can control the vi mode of each new command line as below:

- ` ZVM_LINE_INIT_MODE=`  :  Empty for keeping last vi mode (The first command line is INSERT mode and this is the default).
- `ZVM_LINE_INIT_MODE=$ZVM_MODE_INSERT`     : Always insert mode.
- `ZVM_LINE_INIT_MODE=$ZVM_MODE_NORMAL`  : Always normal mode.

[2021-02-21 08:55] jeffreytse commented on #14
Hi @pingshunhuangalex

🎉  Firstly thanks for your patience. Now this plugin has support setting the initial mode feature, the feature detail you can open this issue #22. Also welcome to [support my open source work](https://github.com/sponsors/jeffreytse)! Thank you!

Thanks and regards

[2021-02-21 09:44] kyazdani42 opened #23 "last commit breaks the plugin"
commit `88db808` introduces changes that breaks the whole plugin. Outputs `true` on each shell initialization (breaking the prompt) and erroring when changing mode, making the plugin unusable.

[2021-02-21 09:57] jeffreytse commented on #23
Hi @kyazdani42

Thanks for your quick reporting and currently this fatal issue has been fixed.

Thanks and regards

[2021-02-21 11:11] #23 closed

[2021-02-21 11:17] kyazdani42 commented on #8
Hi, i don't think it's a problem with your config. I've noticed `cs"` doesn't work even if only zsh_vi_mode is enabled.
you can reproduce easily with `a="some string"` and trying to `cs"'` inside the string doesn't work. Not sure why this is happening, it works fine when replacing `'`.
Although for brackets, it does work partially: with `a=(echo 1)`, you got to slowly do the `cs)]` command to get

[2021-02-21 11:25] jeffreytse commented on #8
Hi @kyazdani42

Thanks for your details, I have reproduced the issue and I will fix this problem as soon as possible.

Thanks and regards

[2021-02-21 12:40] jeffreytse commented on #8
Hi @kyazdani42 @mskar

Thanks for your details on the surround issue. And now this issue about changing surround by `cs"` or `S"` has been fixed. Welcome to update your plugin to the latest version.

Thanks and regards

[2021-02-22 06:28] #22 closed

[2021-02-23 01:46] #14 closed

[2021-02-23 06:16] sktrinh12 opened #24 "keybindings seem to conflict with fzf's"
hi, thanks for creating this wonderful plugin. I am having trouble getting it working with fzf. My `.zshrc` file looks like this:

[code]

if I comment out ZVM, fzf will work, and if I comment out fzf, ZVM will work. I also tried switching order and same situation. Any ideas how to get these two plugins working in harmony? Thanks.

[2021-02-23 06:24] jeffreytse commented on #24
Hi @sktrinh12

I think you can read [here](https://github.com/jeffreytse/zsh-vi-mode#execute-extra-commands).

Thanks and regards

[2021-02-23 07:05] sktrinh12 commented on #24
Thanks so much for providing that info. I didn't see that it was already addressed. Sorry to duplicate the issue. So I just append to the end of my `.zshrc` file any of those commands?

[code]

Excuse my ignorance, not experienced at the command line. :)

[2021-02-23 07:12] jeffreytse commented on #24
Yes, just append the code as you showed to the end of your `.zshrc`.

[2021-02-23 07:20] sktrinh12 commented on #24
ok, i tried that, but it didn't work. I don't know where this `.fzf.zsh` file lives. I'm running ubuntu 20.04 LTS. I installed fzf using apt and so the main folder is `/usr/share/gocode/src/github.com/junegunn/fzf/...`

[2021-02-23 07:28] jeffreytse commented on #24
You can check your `fzf` path by `which fzf`, my side I got the result `/home/seven/.fzf/bin/fzf`, so the fzf folder is `/home/seven/.fzf`.

[2021-02-23 07:38] sktrinh12 commented on #24
`which fzf` gave me `/usr/bin/fzf`, i put that into the init command but it didn't work. probably not understanding something.

i put the two original source lines inside:

[code]

Looks kinda ugly and long, but it works for now. Thanks for the help.

[2021-02-23 07:40] #24 closed

[2021-02-23 07:48] jeffreytse commented on #24
Hi @sktrinh12

😃 I'm glad to hear that you have settle down this issue. And Welcome to star this project for further updates in the future.

For better code style, I think you can use below one:

[code]

Alternatively, you can "git clone" this repository to any directory and run install script.

[code]

After installation, just use below one:

[code]

Thanks and regards

[2021-02-24 01:28] dycw opened #25 "Interference with `fzf`'s Ctrl+R"
Hi @jeffreytse , thanks for a great plugin. I love it!

Any chance you can chime in on why this seems to interfere with my ability to use `fzf`'s Ctrl+R for history search? For example, without your plugin:

[code]

whilst with your plugin:

[code]

[2021-02-24 01:34] jeffreytse commented on #25
Hi @dycw

I think you can read [here](https://github.com/jeffreytse/zsh-vi-mode#execute-extra-commands). Also, you can refer to #24. Welcome to star this project for further updates in the future.

Thanks and regards

[2021-02-24 01:40] dycw commented on #25
Thanks - that solves it.

P.S. Sorry I realised there were at least 3+ closed issues on `fzf` -- I should've searched first!

[2021-02-24 01:40] #25 closed

[2021-02-24 01:49] jeffreytse commented on #25
@dycw You are welcome. Hope you have a good experience with this plugin.

[2021-02-24 05:43] sktrinh12 commented on #24
thanks for the suggestion! i starred your repo!

[2021-02-24 06:57] pingshunhuangalex commented on #13
Not sure what I did today, but I also got stuck in some weird state that behaved like insert mode but with a normal mode cursor. Plus, I can't find a way to get out of it and ended up restarting the terminal. Haven't found the pattern to reproduce it.

[2021-02-24 07:05] jeffreytse commented on #13
Hi @pingshunhuangalex, thanks for your reporting, I will pay attention to this issue.

[2021-02-26 06:28] gotgenes opened #26 "Can't leave insert mode after typing S from normal mode"
When in normal mode, then typing `S`, this plugin clears the line and puts the user in insert mode, consistent with behavior described in Vim.

However, at this point, it does not seem to be possible to exit insert mode. The user is forced to hit Enter to get a new prompt. This prompt will actually start in normal mode, which is also unexpected.

I do not observe this behavior when using `cc` from

[2021-02-26 06:38] jeffreytse commented on #26
Hi @gotgenes

Thanks for your reporting this issue and the detail provided, I will fix this issue as soon as possilble. And welcome to star this project for further upadtes.

Thanks and regards

[2021-02-26 07:39] jeffreytse opened #27 "Can't leave insert mode after typing `C` from normal mode"
In normal mode, typing `C` for changing characters was stuck, and it can not enter normal mode again.

[2021-02-26 07:52] jeffreytse commented on #26
Hi @gotgenes

:tada: Thank you for your patience, this issue has been addressed and fixed, please update your plugin to the latest version. And welcome to star this project for further upadtes in the future.

Thanks and regards

[2021-02-26 14:43] 1m0d commented on #12
I have the same problem, up arrow correctly pastes in previous command, but cursor stays at the beginning of the line. ctrl-p works correctly.

[2021-02-26 15:11] jeffreytse commented on #12
Hi @1m0d

👍 Thanks for the reporting, I'll try to figure out this issue. Any progress I will update here. Also welcome to star this project for further updates in the future.

Thanks and regards

[2021-02-26 15:30] jeffreytse commented on #12
Hi @1m0d

In fact, the `Arrow Up/Down` is for partial history search feature, that is the same beginning (based at cursor) of commands in history (#15), if you just want to move to previous command in the history, you should use `ctrl-p` or `k` (just available in normal mode).

Thanks and regards

[2021-02-26 15:53] 1m0d commented on #12
By default up arrow is set to _up-line-or-history_ in zsh which you overwrite to _history-beginning-search-backward_, which has an alternative _history-search-backward_ in which the cursor goes to the end of the line. I do not recommend overwriting default keybinds, but if you do I recommend using _history-search-backward_ so the cursor goes to the end of the line as expected by default.

In case

[2021-02-26 17:04] jeffreytse commented on #12
Hi @1m0d

Thank you for your detailed explanation, I will consider your comments carefully. You should execute your custom keybindings after this plugin initialized ([See here](https://github.com/jeffreytse/zsh-vi-mode#execute-extra-commands)).

Thanks and regards

[2021-02-26 17:14] 1m0d commented on #12
Yes, I missed that part, thank you.

[2021-02-26 22:53] gotgenes commented on #26
Confirmed this is fixed in the latest version. Thank you!

[2021-02-26 22:53] #26 closed

[2021-02-27 03:47] jeffreytse opened #28 "Initial line mode causes the line to disappear when last mode is normal mode"
This bug will cause the line to disappear caused by the multiple `reset-prompt`.

Reproduce steps:
- Setting `ZVM_LINE_INIT_MODE=ZVM_MODE_LAST`
- Changing mode to `Normal Mode`
- Typing <Enter> to enter a new command line

[2021-02-27 03:53] #27 closed

[2021-02-27 03:53] #28 closed

[2021-02-27 04:04] jeffreytse opened #29 "Wrong paste when the cursor is at an empty line"
Reproduce:

- The `CUTBUFFER` is `1234`
- The `BUFFER` is as the below
[code]
- The cursor is at the empty line
- After typing `p` to paste content
[code]

[2021-02-27 04:14] jeffreytse opened #30 "Wrong paste when the cursor is at an empty line"
Reproduce:

- The `CUTBUFFER` is `1234`
- The `BUFFER` is as the below
[code]
- The cursor is at the empty line
- After typing `p` to paste content
[code]

[2021-02-27 04:18] #30 closed

[2021-02-28 05:42] gotgenes opened #31 "Using a to enter insert mode from empty command line triggers terminal bell"
When the command line is empty, after entering normal mode with `Esc`, pressing `a` to enter insert mode triggers the terminal bell.

![bell](https://user-images.githubusercontent.com/8517/109409053-19a65400-7944-11eb-9b1f-689fc186e5e4.gif)

Note that using `i` or `A` to enter insert mode does not cause the terminal bell to fire. Using `a` to enter insert mode when the command line has at least on

[2021-02-28 08:09] jeffreytse commented on #31
Hi @gotgenes

Thanks for the reporting and the issue has been addressed and fixed. Please update your plugin to the latest version.

Thanks and regards

[2021-03-01 03:09] jeffreytse commented on #13
Hi @pingshunhuangalex

About the below issue, maybe it is the same with  #26 #27, I think you can have a look.

[2021-03-01 03:14] pingshunhuangalex commented on #13
I can definitely reproduce the above 2 bugs. Maybe they are the culprit, or maybe typing other characters will also stick things in limbo. Happy to close the ticket for now and will keep an eye on it after the update. Thanks for addressing the issue.

[2021-03-01 03:14] #13 closed

[2021-03-01 04:46] gotgenes commented on #31
Fix confirmed. Thanks!

[2021-03-01 04:46] #31 closed

[2021-03-01 05:26] gotgenes opened #32 "Can't use c<count>, d<count>"
zsh-vi-mode does not seem to take `<count>` after `c` or `d` and before `<motion>`, such as `c2w` or `d2w`. It only seems to accept a count before `c` or `d`.

[2021-03-01 12:19] ZeChArtiahSaher opened #33 "Home and Insert keys enter normal mode"
When I press home & insert keys I enter normal mode instead of jumping ^ or $.

I checked regular `bindkey -v` and they seem to work, so I suspect somehow this plugin does some overrides.

 If this is intended, behavior option would still be preferred.

[2021-03-01 13:59] AckslD opened #34 "zvm_readkeys: maximum nested function level reached; increase FUNCNEST?"
I'm sometimes randomly getting the warning/error
[code]
, any idea why that could be?

[2021-03-01 14:19] jeffreytse commented on #34
Hi @jeffreytse

Thanks for your reporting, I will take attention to the issue. Any idea I will update here.

Thanks and regards

[2021-03-02 03:46] jeffreytse commented on #33
Hi @ZeChArtiahSaher

I have checked the issue, in fact this plugin does not override `<HOME>` and `<INSERT>`, so the behavior is the same with the default vi mode, that is `bindkey -v`.

Thanks and regards

[2021-03-02 06:43] jeffreytse commented on #32
Hi @gotgenes

🎉 This issue has been addressed and fixed. Please update your plugin to the latest version.

Thanks and regards

[2021-03-02 08:12] Hubro opened #35 "Cursor insert mode style affects other applications"
I enjoy using these cursor styles to clearly distinguish between normal mode and insert mode:

[code]

However, the insert mode cursor style is inherited by other applications, and those applications don't handle switching between cursor styles when switching modes, which makes the cursor permanently stay in the insert mode style until the application is exited.

For example, try starting Vim from

[2021-03-02 08:21] jeffreytse commented on #35
Hi @Hubro

Thanks for the reporting about some applications don't handle switching cursor styles, I will pay attention to enhance this cursor behavior for better experience.

Thanks and regards

[2021-03-02 09:38] jeffreytse commented on #35
Hi @Hubro

🎉 This issue has been settle down and now it supports to auto restore cursor to user defualt when an interactive program (e.g. vim, bash, etc) starts. Please update your plugin to the latest version for the enhancement.

Thanks and regards

[2021-03-02 10:17] ZeChArtiahSaher commented on #33
Without inspecting the issue further I found this to work:

[code]

in `zvm_init`

[2021-03-02 10:22] jeffreytse commented on #33
Hi @ZeChArtiahSaher

If you want to execute extra commands, you can see [here](https://github.com/jeffreytse/zsh-vi-mode#execute-extra-commands), the best place to put your code for your reference.

Thanks and regards

[2021-03-02 10:48] Hubro opened #36 "Can't disable custom cursor"
Since the custom cursor currently interferes with applications launched in the terminal like SSH and Vim, I want to disable it.

Here is my relevant Zsh config:

[code]

As you see, I have set `ZVM_CURSOR_STYLE_ENABLED=false`, but the custom cursor feature is still enabled.

I have tried `export`ing the variable, and I have tried placing it before `antigen apply`, neither work. Even setting it to

[2021-03-02 10:54] Hubro opened #37 "zsh-vi-mode overrides word separator"
By default (if I disable this plugin) zsh will treat each directory in the path `/home/hubro/Dropbox/Config` as separate words, so when I press Ctrl+w repeatedly, it will first delete "Config", then the "/", then "Dropbox" and so on.

When using zsh-vi-mode, pressing Ctrl+w will remove the entire path, treating it as one long word.

To test, type "cd foo/bar/baz" into the terminal and press Ctrl+w

[2021-03-02 12:01] Hubro commented on #35
It works! Thanks for the quick fix :)

[2021-03-02 12:01] #35 closed

[2021-03-02 12:05] Hubro commented on #36
Not sure if you just fixed this :smile: But I updated zsh-vi-mode just now and it fixed this issue.

[2021-03-02 12:05] #36 closed

[2021-03-02 12:11] jeffreytse commented on #36
Hi @Hubro

Thanks for reporting this issue, I'm so glad to hear that you have settled down the issue, and also many thanks for your support and sponsoring, if you meet this issue, you can reopen this issue.

Thanks and regards

[2021-03-02 12:39] ztlevi opened #38 "[BUG] Cannot exit normal mode with `a` or `i`"
## Problem description

I realized exit normal mode in zsh-vi-mode breaks recently. I cannot use a or i to enter insertion mode again. Are you aware anything like that?

I observed this behavior works at commit d7d6fba but breaks at df675da.

my zsh version: zsh 5.8 (x86_64-apple-darwin19.6.0)

## Reproduce with my current environment setup with the following steps.
1.  Clone

[code]

2.  Comment

[2021-03-02 12:45] Hubro opened #39 "Key combo "Esc k" when already in normal mode scrolls up infinitely"
From insert mode, pressing "Esc k" works as expected. You leave insert mode into normal mode and scroll back in history once.

However, if you are already in normal mode, pressing "Esc k" will start scrolling upwards indefinitely, as if I was holding down "k". I have to press Ctrl+c to stop it.

Here is my Zsh config (shell-setup.sh only contains aliases):

[code]

I have tried disabling Starship

[2021-03-02 15:48] jeffreytse commented on #34
Hi @AckslD

Could you provide me some instructions to reproduce this issue?

Thanks and regards

[2021-03-02 15:54] jeffreytse commented on #34
Hi @AckslD

Ok, when you or someone meet the same issue again, you and they can comment to here. And I will also pay attention to it.

Thanks and regards

[2021-03-03 02:51] jeffreytse commented on #37
Hi @Hubro

Thanks for the reporting and this issue has been addressed and fixed. Please update your plugin to the latest version.

Thanks and regards

[2021-03-03 03:05] jeffreytse commented on #39
Hi @Hubro

Thanks for the reporting and this issue has been addressed and fixed. Please update your plugin to the latest version.

Thanks and regards

[2021-03-03 06:37] jeffreytse opened #40 "Can't enter normal mode again when using key combo `c<key>` to change content"
Strokubg a prefix key like `c` and slightly waiting for a second will cause this plugin stuck, because it called an original widget and didn't trigger changing the internal mode `ZVM_MODE` and updating cursor style.

## Reproduce:
- Stroke `Esc` to enter normal mode.
- Stroke `c` and slightly wait for a second.
- Stroke `w` or `iw` or others.
- It is stuck in insert mode and the cursor shape is no

[2021-03-03 07:07] jeffreytse commented on #38
Hi @ztlevi

The issues (#39, #40) have addressed and fixed some bugs that caused the mode stuck, you can update your plugin to the latest version and test again.

Thanks and regards

[2021-03-03 07:32] ZhiyuanLck opened #41 "problems in vim built-in terminal when vim is opened in tmux"
When I use the plugin in vim built-in termimal in **tmux**, every character I typed was followed by an extra "6 ", and there is an extra "q" at end.

To produce:
1. create and enter a new tmux session by `tmux`
2. open vim by `vim -u NONE`
3. open terminal by `:term`
4. enter zsh shell by `zsh`
5. type any character

[2021-03-03 07:37] jeffreytse commented on #41
Hi @ZhiyuanLck

Thanks for the reporting. I will pay attention to this issue and welcome to star this project for further update in the future.

Thanks and regards

[2021-03-03 08:17] ztlevi commented on #38
Thanks! I'm on 41bb661 commit now but it's still not working. I also realized I can exit with `s` key but that will delete the content before the cursor.

[2021-03-03 08:51] jeffreytse commented on #41
Hi @ZhiyuanLck

Thanks for the reporting and this issue has been addressed and fixed. Please update your plugin to the latest version.

Thanks and regards

[2021-03-03 09:11] ztlevi commented on #38
You can update the plugins by using `antigen update`

[2021-03-03 09:16] ZhiyuanLck commented on #41
Cool!

[2021-03-03 09:16] #41 closed

[2021-03-03 09:25] Hubro commented on #37
@jeffreytse What has been done? 😄 I don't see anything new in the README and I don't see any new behavior:

https://user-images.githubusercontent.com/597206/109783893-c154a800-7c0a-11eb-941f-08980fd97e1d.mov

[2021-03-03 09:29] jeffreytse commented on #37
Hi @Hubro, I have fixed the issue about the `ctrl-w` behavior in the insert modee, the behavior follows the emacs `ctrl-w`.

[2021-03-03 11:37] androidfans opened #42 "Support Windows WSL Clipboard"
if we are using wsl we can
echo "contents" | clip.exe to send content to send content to windows
but i haven't found how to read content from windows buffer

some link may be help
https://stackoverflow.com/questions/59984528/copy-the-contents-of-a-file-to-clipboard-from-wsl-to-windows
https://github.com/microsoft/WSL/issues/4071

[2021-03-03 12:00] jeffreytse commented on #42
Hi @androidfans

For the WSL, you can get the clipboard content by below command.

[code]

And the system clipboard functionality is in progress, welcome to star this project for further updates in the future.

[2021-03-03 12:06] androidfans commented on #42
cool , i will config it in my vimrc.
really hope to use simple p to paste from windows using zvm

[2021-03-03 12:13] jeffreytse commented on #42
@androidfans You can see this issue #19 and temporarily make the clipboard working well in WSL.

[2021-03-03 12:17] Hubro commented on #37
@jeffreytse Is there any way to get this behaviour in zsh-vi-mode?

https://user-images.githubusercontent.com/597206/109804237-51eab280-7c22-11eb-9a4e-d1a220d37c4e.mov

In other words, when writing a long path, I want to be able to erase backwards one word at a time using Ctrl+w, rather than deleting the whole path. I don't want the forward slash character to be considered a "word character".

[2021-03-03 12:23] Hubro commented on #37
It seems like the old behaviour (backward-kill-word) works as expected if I set `WORDCHARS` myself. I didn't know about this variable when I opened this issue, and it solves my issue.

I would probably revert the default binding of ^W to backward-kill-word, as that's what most Vi users will expect.

[2021-03-03 13:40] AckslD commented on #34
@jeffreytse Still not sure why but it just happened now once. I had two kitty terminals open with zsh in one and neovim in the other. While doing some stuff in neovim I got this error in the other terminal, pretty strange since I was not actually doing anything in the terminal that showed the error.

Btw, I'm using kmonad if that has anything to do with it.

[2021-03-03 21:33] Hubro commented on #39
Nice, it works! :grin:

[2021-03-03 21:33] #39 closed

[2021-03-04 02:42] jeffreytse commented on #15
Hi @pingshunhuangalex

I would probably revert the bindings of Arrow Up/Down to the default, as that's what most Vi users will expect. For your reference, here is a snippet to help you reach the partial history conveniently.

[code]

Thanks and regards

[2021-03-04 02:46] jeffreytse commented on #12
Hi @1m0d

This commit 84b88a4 has revert the bindings of Arrow Up/Down to the default, as that's what most Vi users will expect. And you don't need to do the bindings again in `zvm_after_init` function.

Thanks and regards

[2021-03-04 02:51] #40 closed

[2021-03-04 02:52] #1 closed

[2021-03-04 02:53] #8 closed

[2021-03-04 02:54] #16 closed

[2021-03-04 03:08] pingshunhuangalex commented on #15
Where should I put this snippet? inside `.zshrc`?

[2021-03-04 03:11] jeffreytse commented on #15
Hi, @pingshunhuangalex

Yes, you're right, you can put this inside `.zshrc` in order to execute this code snippet.

Thanks and regards

[2021-03-04 03:26] jeffreytse commented on #37
Hi @Hubro

I have reverted the default binding of `^W` to `backward-kill-word`, as that's what most Vi users will expect.

Thanks and regards

[2021-03-04 04:48] jeffreytse commented on #34
Hi @AckslD

I have reproduced this issue and this is a bug actually.

## Reproduce

- Find a keybinding with the ctrl character, such as `^W`
- Bind a widget with the above ctrl character prefix's sequence, such as `^Ww`.
- Open the zsh again.
- Stroke `^W` and stop.
- Wait for a while and it will show the error as issue title.

[2021-03-04 06:08] jeffreytse commented on #34
Hi @AckslD

This issue has been addressed and fixed. Please update your plugin to the latest version.

Thanks and regards

[2021-03-04 06:22] jeffreytse commented on #18
Hi @ngmariusz

Thanks for your patience and this issue has been addressed and fixed on #34 by this commit 8b16025. Welcome to update your plugin to the latest version.

Thanks and regards

[2021-03-04 06:26] jeffreytse commented on #11
Hi @oars

Thanks for your patience, this issue has been fixed on the issue #35. Welcome to update your plugin to the latest version.

Thanks and regards

[2021-03-04 12:44] pdbradley opened #43 "When ZVM_VI_ESCAPE_BINDKEY=jj then typing j<space> gives you j\s"
jj is my goto in vim for escape mode so I was delighted to see I can put the same trigger in this plugin.

However, now if I'm in insert mode and type "j "  (j followed by a spacebar) it immediately inserts "j\s"

Which is hard because I basically navigate around folders with the jump command.

recording:  [https://share.getcloudapp.com/Jru1EERQ](https://share.getcloudapp.com/Jru1EERQ)

[2021-03-04 13:09] lkhphuc opened #44 "VV to edit in $EDITOR get permission denied on MacOS."
The `vv` command in Normal mode create a tmp file in `/tmp/`, which normal user does not have in Macos. Could the directory for temporary file be changed to something else, such as `/var/tmp/` similar to neovim?

[2021-03-04 13:13] jeffreytse commented on #44
Hi @lkhphuc

Thanks for the reporting, I will pay attention to this issue and fix it as soon as possible.

Thanks and regards

[2021-03-04 13:26] jeffreytse commented on #43
Hi @pdbradley

Thanks for the reporting, I will pay attention to this issue and fix it as soon as possible.

Thanks and regards

[2021-03-04 13:41] jeffreytse commented on #43
Hi @pdbradley

This issue has been addressed and fixed. Please update your plugin to the latest  version.

Thanks and regards

[2021-03-04 14:00] pingshunhuangalex commented on #15
Adding this snippet does maintain the partial search function, but it also breaks the entire mode switching and I can't go to normal mode by pressing `esc` anymore. More precisely, pressing `esc` will give me `^[` in terminal. Commenting out the snippet fixes the issue again.

[2021-03-04 14:31] jeffreytse commented on #44
Hi @lkhphuc

This issue has been addressed and fixed. Please update your plugin to the latest version.

Thanks and regards

[2021-03-04 15:03] jeffreytse commented on #15
Hi @pingshunhuangalex

Actually, you should add these keybindings in `zvm_before_init` function, I have edited that code snippet and please try the above snippet again.

Thanks and regards

[2021-03-04 15:16] lkhphuc commented on #44
Thank you.

[2021-03-04 15:16] #44 closed

[2021-03-04 23:56] pingshunhuangalex commented on #15
Works, thanks

[2021-03-05 02:15] jeffreytse opened #45 "Vim: Warning: Input is not from a terminal when stroking `vv` to edit line from normal mode"
Vim doesn't like it when standard input is redirected unless you invoke it as `vim -`,  we should do `vim $tmpfile </dev/tty` to tell vim input is from the terminal and not from standard input.

[2021-03-05 03:44] androidfans opened #46 "[Bug] Conflict with oh my zsh sudo plugin"
zinit snippet OMZ::plugins/sudo/sudo.plugin.zsh

sudo plugin makes you can just double click esc to auto add a sudo to the start of a line.

But this plugin works well with zsh's default vi mode

[2021-03-05 11:58] lkhphuc opened #47 "Plugin override (Shift-)Tab by default?"
Hi,
I was having some trouble using this plugin with other plugin that use Shift-Tab (and Tab) for auto completion, such as https://github.com/marlonrichert/zsh-autocomplete
These plugins work fine if I disable this plugin, but I don't see any mention (nor reason) for Vim plugin to use the Tab or Shift-TAb function. Is this a bug or a feature that I miss?

[2021-03-06 02:27] #45 closed

[2021-03-08 03:09] gotgenes commented on #32
Confirmed fixed. Thanks!

[2021-03-08 03:09] #32 closed

[2021-03-08 04:27] gotgenes opened #48 "Different results when typing cw depending on interval between keypresses"
I'm observing an one extra word deleted when using `cw` (or `[count]cw` or `c[count]w`) if typing the sequence of keys rapidly.

For the line

[code]

Enter normal mode and place the mouse over `1`.

If the user types `c`, waits a half a second, then types `w`, it will delete `1` and place the cursor after where the `1` was

[code]

This is the expected behavior.

If, however, the user quickly typ

[2021-03-08 07:14] krzykli opened #49 "ZVM_VI_ESCAPE_BINDKEY not adding pressed key after timeout"
Hello,

Firstly, thanks for the amazing plug-in!
I've just pulled the latest version and I'm running into an issue with my escape bindkey ("jk").

Currently in insert mode if I press "j" nothing happens, no matter how long I wait.
The expected behaviour though should be that "j" appears in the console after the time specified by VIM_KEYTIMEOUT passes, just like in vim.

Cheers,
kk

[2021-03-11 02:52] jeffreytse commented on #49
Hi @krzykli

Thanks for the reporting, I will focus on this issue as soon as possible, welcome to star this project for further updates in the future.

Thanks and regards

[2021-03-11 04:29] jeffreytse commented on #48
Hi @gotgenes

Thanks for your reporting and patience, now this issue has been addressed and fixed, please update your plugin to the latest version.

Thanks and regards

[2021-03-11 04:41] jeffreytse commented on #47
Hi @lkhphuc

Thanks for your reporting and patience, about the key override issue, you can read [here](https://github.com/jeffreytse/zsh-vi-mode#execute-extra-commands). Also, for the `fzf` keybinging issue you can refer to #24.

Thanks and regards

[2021-03-11 04:46] jeffreytse commented on #46
Hi @androidfans

Thanks for the reporting and patience, this issue has been settled down on this commit b9232fb, please update your plugin to the latest version.

Thanks and regards

[2021-03-11 04:48] jeffreytse commented on #18
Hi @ngmariusz

Thanks for the reporting and patience, this issue has been totally settled down on this commit b9232fb, please update your plugin to the latest version.

Thanks and regards

[2021-03-11 04:54] #34 closed

[2021-03-11 06:20] jeffreytse opened #50 "Add spec for test"
It builds a safety net against errors, especially useful for refactoring. If we don’t have a test suite then to touch the code is frightening, because of the fear of something breaking, having tests increases the confidence.

[2021-03-11 08:57] lkhphuc commented on #47
Thank you. That fixed my issue.

[2021-03-11 08:57] #47 closed

[2021-03-11 15:51] roosta commented on #8
Hi all, I was about to post a comment about this not working for me even after the patch, but I got it working properly by removing this environment variable: `KEYTIMEOUT`. I had it set to `1`, which resulted in change surround not working properly. Hope this can be helpful in some way.

[2021-03-14 00:11] gotgenes opened #52 "Add ys normal mode mapping for surround"
This is a feature request to support `ys<motion/text object><surround character>` in normal mode to surround `<text object>` with `<character>`. It is similar to `ys` from visual selection mode. The description from [surround.vim](https://github.com/tpope/vim-surround):

[In the example above, the `*` denotes the position of the cursor.]

Right now the workaround from normal mode is to enter `v<te

[2021-03-14 14:26] jeffreytse opened #53 "`dw` or `yw` includes the newline character from the Normal Mode"
## Reproduce
1. Input the  the below content:
[code]

2. Move the cursor to the the letter `i` of `friend`
3. Stroke `dw` from the Normal Mode

## Result
We get the below result:

[code]

But we should get the result:

[code]

The same situation is existed on `yw`

[2021-03-15 01:54] jeffreytse commented on #49
Hi @krzykli

Could you update your plugin to the latest version and check again if this issue is still existed?

Thanks and regards

[2021-03-15 01:59] jeffreytse commented on #12
Hi @oars

Could you have a check with the latest version for this issue? And the issue will be closed if there is no more requests.

Thanks and regards

[2021-03-15 02:09] jeffreytse opened #54 "Increasing or decreasing an empty line causes an error"
## Reproduce

1. Open a new prompt
2. Switch to the Normal Mode
3. Stroke `ctrl-a` or `ctrl-x`

## Result

Get the below error information:

[code]

[2021-03-15 02:27] jeffreytse opened #55 "Stroking `ctrl-v` or `shift-v` from the visual mode again should exit the visual mode"
## Reproduce

1. Open a new prompt
2. Switch to the Normal Mdoe
3. Stroke the `ctrl-v` or `shift-v` to enter the visual mode
4. Stroke the `ctrl-v` or `shift-v` again to exit the visual mode but it does not work
5. Stroke the `ctrl-v` to enter the visual mode and then stroke `shift-v` should switch to visual line mode

[2021-03-15 03:29] krzykli commented on #49
Hey @jeffreytse,

Actually after pulling master my escape sequence doesn't work at all :(
Maybe there's something wrong on my side? Can you exit insert mode with "jk" locally?

Cheers,
kk

[2021-03-15 03:52] jeffreytse commented on #49
Hi @krzykli

Yes, I can exit insert mode with `jk` locally. Could you provide me some details? I really want to help to settle down your issue.

Cheers

[2021-03-15 07:01] #53 closed

[2021-03-15 07:01] #54 closed

[2021-03-15 07:57] #55 closed

[2021-03-15 08:57] krzykli commented on #49
Ah actually, when I spawn a nested zsh it works like a charm!
It must be something in my config, so don't worry about it. From what I can see the bug is fixed.
Thanks again!

[2021-03-15 09:49] jeffreytse opened #56 "Binding escape key (e.g. `jj`, `jk`, etc.) causes corruption"
## Reproduce

1. Bind the escape key to `jj` such as `ZVM_VI_ESCAPE_KEY=jj`.
2. Open a new prompt.
3. Stroke `jw` from Insert Mode.

## Result

We just got the first letter `j` but we should get the 2 letters `jw`.

[2021-03-15 10:38] g6ai opened #57 "Conflicts with zsh-autosuggestions setting"
I'm using oh-my-zsh to manage plugins. With zsh-vi-mode enabled, this zsh-autosuggestions setting:
[code]
is not working, specifically I cannot use ctrl-space to complete autosuggestions. I can only use the default right-arrow key to complete.

[2021-03-15 10:44] jeffreytse commented on #57
Hi @g6ai

Could you update your plugin to the latest version and check again? I just test it and this issue has not appeared.

Thanks and regards

[2021-03-15 10:52] g6ai commented on #57
Thanks for the reply! I've just updated the plugin (by running `git pull` in the plugin's directory), and modified the oh-my-zsh plugin config line to
[code]
But the problem persists...

[2021-03-15 10:59] g6ai commented on #57
Apart from the above line, my current entire .zshrc is here:
https://github.com/g6ai/dotfiles/blob/275ba75df6a1f93b01d2525ae63a90929400dd24/zsh/zshrc#L1-L30

I'll try to disable other settings to see if I can resolve this

[2021-03-15 11:09] g6ai commented on #57
I've tried disabling all my custom setting, only leaving basic oh-my-zsh lines and two plugins:
[code]
still not solved. More info on my setup:

OS: macOS 10.14.6 (for 32-bit compatibility reason I have to stay at this version)
Terminal: I tried both Terminal.app and iTerm2.app, same results

Please let me know if I can provide any further info, thanks!

[2021-03-15 11:15] jeffreytse commented on #57
Hi @g6ai

Thanks for the reporting and the details and this issue has been addressed and fixed. Please update your plugin to the latest version.

Thanks and regards

[2021-03-15 11:19] #56 closed

[2021-03-15 11:34] g6ai commented on #57
The updated plugin still does not work...

[2021-03-15 11:39] jeffreytse commented on #57
Hi @g6ai

So that it's another problem caused this issue. I will do further test about your case, any other issue I will update here.

Thanks and regards

[2021-03-15 11:43] jeffreytse commented on #57
Hi @g6ai

Could you provide me the commit hash code in your local repository of zsh-vi-mode？

Thanks and regards

[2021-03-15 11:43] g6ai commented on #57
Thank you very much. I searched around and used this way to verify if this is a problem on my terminal, by use this key-binding in .zshrc:
[code]
And when I type ctrl-<space>, `^@` is printed in the terminal. So it should not be a problem on the terminal.

[2021-03-15 11:46] g6ai commented on #57
[code]

[2021-03-15 11:48] jeffreytse commented on #57
Hi @g6ai , also, you run the command `bindkey -M viins | grep accept` and provide the content to me.

[2021-03-15 11:49] g6ai commented on #57
[code]

[2021-03-15 11:53] jeffreytse commented on #57
@g6ai , accordingly, the keybinding `^@` has not been bound successfully in your environment, but my side can show it is bound by the above command.

[2021-03-15 11:56] g6ai commented on #57
I see, although I don't understand the mechanism of this :) Could you inform me what to do for this keybinding working properly?

[2021-03-15 12:02] jeffreytse commented on #57
@g6ai, could you try the below snippet:

[code]

[2021-03-15 12:06] g6ai commented on #57
@jeffreytse The snippet works! Thank you very much!

[2021-03-15 12:06] #57 closed

[2021-03-15 14:29] ztlevi commented on #38
@jeffreytse Did you happen to resolve this bug? Let me know if you need more help...

[2021-03-15 14:34] jeffreytse commented on #38
Hi @ztlevi

Could you update to the latest version and tell me if this issue still appears? I will focus on it and fix it as soon as possible.

Thanks

[2021-03-15 14:45] ztlevi commented on #38
Thanks! It actually works like a charm!

[2021-03-15 14:45] #38 closed

[2021-03-16 11:48] androidfans opened #58 "[Bug]W E B upper case object doesn't work on mac os big sur"
As you can see , it just delete one character
![Mar-16-2021 19-46-18](https://user-images.githubusercontent.com/6452650/111304322-90f01d80-8690-11eb-948b-30662891ff29.gif)

[2021-03-16 13:52] jeffreytse commented on #58
Hi @androidfans

Thanks for the reporting, I will pay attention to this issue and fix it as soon as possible.

Thanks and regards

[2021-03-16 14:45] deafmute1 opened #59 "Bug: Adding zsh-vi-mode causes nav keys (Home, End, PgUp and PgDn ) to break"
Hi, this issue occurred today after updating all my plugins. I narrowed it down to zsh-vi-mode by turning plugins on/off until reproducing.

Basically: Home, End, PgUp and PgDn emit the incorrect scan codes according to both `terminfo` and `showkey --scancode` after sourcing zsh-vi-mode . Also, multiple keys have the same code - Home and End are both `[`, while PgUp and PgDn are both `[~` .

[2021-03-16 14:58] jeffreytse commented on #58
Hi @androidfans

This issue has been addressed and fixed. Please update your plugin to the latest version.

Thanks and regards

[2021-03-16 15:03] jeffreytse commented on #59
Hi @deafmute1

Thank you for reporting this issue. I will focus on this issue and fix it and welcome to star this project for further updates in the future.

Thanks and regards

[2021-03-17 01:14] androidfans commented on #58
wow, so quick.  I will try it when i get home @jeffreytse

[2021-03-17 03:06] jeffreytse commented on #37
Hi @Hubro

Could this issue be closed now? :)

Thanks and regards

[2021-03-17 07:32] Hubro commented on #37
Yes, for sure!

[2021-03-17 07:32] #37 closed

[2021-03-17 07:46] Hubro opened #60 "df commands are not being properly repeated"
If I press "df" followed by a character, then press "." to repeat the command, it doesn't work as expected. It seems to duplicate the whole command rather than repeat the deletion.

How to replicate, type something with a lot of repeated characters, for example:

    $ one-two-three-four-five-six-seven-eight

Then go to command mode and press "0" to go to the start of the line, now press "df-". Th

[2021-03-17 12:18] androidfans commented on #58
It works!  thx a lot

[2021-03-17 12:18] #58 closed

[2021-03-17 12:18] androidfans commented on #46
will not repro

[2021-03-17 12:18] #46 closed

[2021-03-17 13:58] androidfans commented on #11
![Mar-16-2021 19-46-18](https://user-images.githubusercontent.com/6452650/111479250-c0278d00-876b-11eb-8382-5ce254294407.gif)
@jeffreytse  can still repro this bug.  it always makes me want press an `i` to enter insert mode when i am already in insert mode

[2021-03-17 14:37] jeffreytse commented on #11
Hi @oars , in fact, this is not a bug, since you are using a terminal multiplexer, the zsh can not get the events of changing terminal, now there is no a better solution for this issue.

[2021-03-17 14:43] androidfans commented on #11
ok. may be tmux has some configuration to generate this event. let me find

[2021-03-17 14:49] androidfans commented on #11
set -g focus-events on
 may be helped.
just want sleep .will try it tomorow

[2021-03-17 14:54] jeffreytse commented on #11
@androidfans I knew this option and this is a configure of `tmux.conf`, is it? The key to the problem is that I can get the event callback when the window is focused back.

[2021-03-17 15:00] jeffreytse commented on #11
Hi @androidfans , in fact this issue already was added to my todo list, I will focus on this issue and try to settle it down, any updates I will update here, thanks you for the help.

[2021-03-18 03:17] androidfans commented on #11
yes, it's tmux.
have found another link may help

[2021-03-19 06:32] jeffreytse commented on #59
Hi @deafmute1

Thanks for the patience, this issue has been addressed and fixed, please upadte your plugin to the latest version. And welcome to star this project for further updates in the future. : )

Thanks and regards.

[2021-03-19 06:35] jeffreytse commented on #49
Hi @krzykli , Could we close this issue now? : )

[2021-03-19 06:39] jeffreytse commented on #43
Hi @pdbradley , is this issue still unresolved? Welcome to get back me if you have any question. : )

[2021-03-19 06:41] krzykli commented on #49
Ops, absolutely! :)

[2021-03-19 06:41] #49 closed

[2021-03-19 06:45] jeffreytse commented on #49
Hi @krzykli ,

Thank you for getting back and telling me that you have settled down this issue. And welcome to star this project for further updates in the future. : )

Thanks and regards.

[2021-03-22 10:09] jeffreytse commented on #59
Hi @deafmute1

Could we close this issue? If you still have other issues, please let me known. : )

Thanks and regards

[2021-03-22 10:26] #59 closed

[2021-03-23 08:43] jeffreytse opened #61 "Backward range operation by `[cdy][BFT]` is wrong from Normal Mode"
## Reproduce

- Open a new terminal.
- Input `.foo.bar.baz.` and move cursor to letter `r`.
- Stroke `<ESC>` to enter Normal Mode.
- Test any backward range operation such as `dTf`.

## Result

The content will be changed to `.f.baz`, in fact, the content should be `.fr.baz`, it shouldn't include the letter at cursor position (i.e. `r`).

[2021-03-23 09:14] jeffreytse opened #62 "Exiting range operator pending will remove a letter at cursor position"
## Reproduce

- Open a new terminal.
- Input `.foo.bar.baz.` and move cursor to letter `r`.
- Stroke `<ESC>` to enter Normal Mode.
- Test any backward range operation such as `dT`.
- Stroke `<ESC>` to exit this operation.

## Result

The content will be changed to `.foo.ba.baz`, it shouldn't remove the letter at cursor position (i.e. `r`).

[2021-03-23 09:22] #62 closed

[2021-03-23 09:22] #61 closed

[2021-03-23 09:54] jeffreytse opened #63 "When the count of `d<count>w` is quite large, it will be stuck for a long time"
## Reproduce

- Open a new terminal.
- Stroke `<ESC>` to enter Normal Mode.
- Stroke `d30000w`.

## Result

The command line will be stuck for a long time, and we should do some optimization on it.

[2021-03-24 04:43] #63 closed

[2021-03-24 05:20] aserowy opened #64 "Configuration of ZVM_LINE_INIT_MODE must follow 'source $ZSH/oh-my-zsh.sh'"
Hi,

i've found zsh-vi-mode after being disappointed with the std vi mode of ohmyzsh. My shell is running on debian (wsl2). I tried setting

[code]

in my .zshrc before sourcing (other configurations work e.g. jk to leave modes). After restarting i am getting the same behaviour like before (default mode).

Am i missing something? What can i contribute to analyse this?

Kind regards
Alexander

[2021-03-24 05:40] jeffreytse commented on #64
Hi @aserowy

Could you provide your `.zshrc` content to dig further information for me?

Thanks and regards

[2021-03-24 06:24] aserowy commented on #64
Heho,

of course!

[code]

Kind regards and thx in advance
Alexander

[2021-03-24 06:32] jeffreytse commented on #64
Hi @aserowy

All the options should be put after you sourcing the `oh-my-zsh`, it is totally because of all the omz plugins being sourced at the stage that you source `oh-my-zsh`. That should be the below snippet:

[code]

Thanks and regards

[2021-03-24 06:42] aserowy commented on #64
Thank you! It worked! :)

I will put a pr today to add to the documentation at ohmyzsh. (If that is ok)

Kind regards
Alexander

[2021-03-24 06:50] jeffreytse commented on #64
Hi @aserowy

You're welcome! Hope you have a good day. : )

Thanks and regards

[2021-03-24 07:24] #64 closed

[2021-03-24 07:25] aserowy commented on #64
Yip, having a good one. You made it even better! <3

[2021-03-25 06:31] jeffreytse opened #65 "Replacing characters with `r` or `R` causes some weird behaviors"
## Reproduce

1) Problem A

- Open a new terminal.
- Input the content `test`.
- Stroke `<ESC>` and `v` to the Visual Mode.
- Stroke `r` or `R` to replace selected characters.

2) Problem B

- Open a new terminal.
- Input the content `test`.
- Stroke `<ESC>` to the Normal Mode.
- Stroke `R` to replace characters one by one.

## Result

1) **Problem A**: We are stuck in the visual mode after replac

[2021-03-25 07:58] jeffreytse opened #66 "The selection region is wrong when changing mode between visual line mode and visual mode"
## Reproduce

- Open a new terminal.
- Enter below content.
[code]
- Enter visual mode and select region from `3` to `c`.
- Stroke `Shift-V` to the visual line mode.
- Stroke `v` to change back to visual mode.

## Result

1) The selection region is only one line when changing to visual line mode.
2) The selection region is wrong when changing back to visual mode.

[2021-03-26 05:37] #66 closed

[2021-03-27 13:05] CloseToZero opened #67 "Unexpected behavior of `ciw` or `caw`"
# Reproduce

* Open a new terminal.
* Input the content "test1 test".
* Put the cursor at second "e" like "test1 t_e_st".
* Press `ciw` (or `caw` etc).

# Result
Only "est" is deleted.

# Expected behavior
The "test" should be deleted.

[2021-03-27 13:54] nsapse opened #68 "Installation Blocks FZF ^R Behavior"
FZF replaces ^R with the ability to fuzzy-find previous commands. zsh-vi breaks this replacing it with the default behavior.

[2021-03-27 14:08] jeffreytse commented on #67
Hi @CloseToZero

Thanks for the reporting, in fact I have found this issue today, and I will try to settle it down as soon as possible.

Thanks and regards

[2021-03-27 14:10] jeffreytse commented on #68
Hi @nsapse

Thanks for the reporting and patience, about the key override issue, you can read [here](https://github.com/jeffreytse/zsh-vi-mode#execute-extra-commands). Also, for the `fzf` keybinging issue you can refer to #24.

Thanks and regards

[2021-03-27 14:47] medwatt opened #69 "This plugin prevents abbreviations from expanding"
I am using [this](https://github.com/olets/zsh-abbr) plugin to expand abbreviations.

For example:

[code]

Typing `dl` followed by `<space>` expands `dl` into `cd ~/Downloads`. This works fine with the default vi-mode plugin from oh-my-zsh. However, when this plugin is enabled, abbreviations fail to expand.

[2021-03-27 14:53] jeffreytse commented on #69
Hi @medwatt

Thanks for the reporting. I will focus on this issue and try to settle it as soon as possible. Welcome to star this project for the further updates in the future.

Thanks and regards

[2021-03-27 15:28] #69 closed

[2021-03-27 16:01] jeffreytse opened #70 "Unexpected behavior of `[cdy][ia][eE]`"
# Reproduce

* Open a new terminal.
* Input the content "foo bar baz".
* Put the cursor at second "f".
* Press `cie` (or `cae`, `die`, etc).

# Result
The "oo" is deleted.

# Expected behavior
The "foo" should not be deleted.

[2021-03-27 16:05] jeffreytse commented on #67
Hi @CloseToZero

Thanks for the patience, this issue has been addressed and fixed. Please update your plugin to the latest version.

Thanks and regards

[2021-03-27 16:23] CloseToZero commented on #67
@jeffreytse
Thank you for your quick response.
The bug is almost fixed but still has a minor problem:
* Input the content "test".
* Place the cursor at the final character like "tes_t_".
* Press `ciw`.
Result: the content remains unchanged.
This behavior is inconsistent with `ce` and `cw`:
* Input the content "test".
* Place the cursor at the final character like "tes_t_".
* Press `ce`.
Result: th

[2021-03-27 16:56] jeffreytse commented on #67
Hi @CloseToZero

Thanks for the reporting, this issue has been addressed and fixed. Please update your plugin to the latest version.

Thanks and regards

[2021-03-27 17:00] #67 closed

[2021-03-27 17:05] #65 closed

[2021-03-27 17:37] #70 closed

[2021-03-28 01:05] nsapse commented on #68
I see you marked this good first issue. Are you looking for contributors?

[2021-03-28 01:11] jeffreytse commented on #68
I use this label for the new  user to better find some issues like this and quickly get relevant references. : )

[2021-03-28 01:43] 5c0tt-b0t opened #71 "(help) unable to paste on the same line."
Hi, I wrote 'help' as it may just be me, but I am unable to paste on the same line with this plugin installed, 'p' pastes on a newline under the current line, 'P' pastes on the current line but pushes whatever is on my current line to a newline below, how do I paste like on the same line like I do with normal 'bindkey -v' keys?
Thankyou.

[2021-03-28 14:24] g6ai opened #72 "Cursor is not changing in Alacritty"
When I use Alacritty as terminal, and with the `alacritty` [terminfo](https://github.com/alacritty/alacritty/blob/master/INSTALL.md#terminfo) they provided, the cursor shape does not change in vi-mode.

The pertinent `alacritty.yml` lines are:

https://github.com/g6ai/dotfiles/blob/db16f7463092592dc347fc946f1e78ef711ecb32/alacritty/alacritty_macos.yml#L352-L378

And I use these zsh-vi-mode setting

[2021-03-28 14:29] jeffreytse commented on #71
Hi @5c0tt-b0t

Could you provide me some instructions to reproduce this issue?

Thanks and regards

[2021-03-28 16:38] 5c0tt-b0t commented on #71
Of course, I am using an Android tablet with Termux (and `termux-api`), I use `zplug` to manage plugins, I only use a few plugins, and I source yours last to try ensure no binds are overwritten.
To reproduce, at the command line try:
[code]
Or:
[code]
If it helps, this has never happened with 'bindkey -v' and oh-my-zsh's vi-mode plugin.
By the way, I looked through the script and the extent you ha

[2021-03-28 18:17] GiancarloAparicio commented on #72
I also use alacritty but it works for me
![image](https://user-images.githubusercontent.com/61440825/112762854-9bcb7c00-8fc7-11eb-89f5-f934203a7077.png)
![image](https://user-images.githubusercontent.com/61440825/112762888-c0bfef00-8fc7-11eb-9194-7f560c4323a2.png)

And in zsh-vi-mode I have only set

[code]

[2021-03-28 20:19] g6ai commented on #72
@GiancarloAparicio Thanks for the info! Yes I'm using powerlevel10k as zsh theme. So I disabled it and use oh-my-zsh default theme (robyrussell), but the problem is still there. Could you provide your config so I can investigate?

[2021-03-28 22:37] GiancarloAparicio commented on #72
My alacritty configuration is:

[code]

My .zshrc is divided into several files, but the general configuration and that of zsh-vi-mode is:

[code]

I have not configured much of zsh-vi-mode and it works for me, maybe it is the order in which the plugins are executed, I could not tell you the truth

[2021-03-28 23:56] g6ai commented on #72
@GiancarloAparicio Great, I'll try investigate this issue with your config. I only recently switched to Alacritty, I have to admit although it has some improvement on speed (which is under debate as some claims it's actually high throughput rather than low latency), it also has some problems that are really painful to solve. One small example is this issue which may or may not be my config problem

[2021-03-29 01:16] jeffreytse commented on #71
Hi @5c0tt-b0t

Firstly, thanks for your support. You use `dd` to delete a line, and then use `p` or `P` to paste it, right?

Thanks and regards

[2021-03-29 02:07] jeffreytse commented on #72
Hi @g6ai

Could you try `echo $TERM` and tell me what it is? And @GiancarloAparicio thanks for your useful information, too. : )

Thanks and regards

[2021-03-29 02:27] GiancarloAparicio commented on #72
@jeffreytse

echo $TERM
screen-256color

[2021-03-29 02:35] jeffreytse commented on #72
I just installed alacritty and its version is as below:

![image](https://user-images.githubusercontent.com/9413601/112779896-48fecc80-907a-11eb-871f-c70bb5806354.png)

[2021-03-29 02:39] jeffreytse commented on #72
Hi @GiancarloAparicio

You said that you remember some things did not show well with `zsh-vi-mode`, could you tell me some details? : )

Thanks and regards

[2021-03-29 04:20] jeffreytse opened #73 "Unexpected behavior of replacing chars by `R` command from normal mode"
# Reproduce
- Open a new terminal.
- Input the content as below.

[code]

- Put the cursor at the second "o".
- Enter normal mode and press `R` and `ww`.

# Result
The second line was joined to above line as below.

[code]

# Expected behavior
The second line should not be joined to above line.
[code]

[2021-03-29 04:31] jeffreytse opened #74 "Unexpected behavior of backspace key in replacing mode by pressing `R`"
# Reproduce
- Open a new terminal.
- Input the content as below.

[code]

- Put the cursor at the "f".
- Enter normal mode and press `R` and `ww`.
- Press `<Backspace>` to undo the replace

# Result
The replaced character was deleted as below.

[code]

# Expected behavior

The replaced character should be recovered.

[code]

[2021-03-29 07:40] g6ai commented on #72
@jeffreytse My `$TERM` is `alacritty`.

@GiancarloAparicio I see you set the `TERM` to `xterm-256color` in your Alacritty config. Well I can also use zsh-vi-mode without a problem using `xterm-256color` terminfo. However, it is recommended to use `alacritty` terminfo in their instructions because otherwise you may lose some display feature.

[2021-03-29 09:46] jeffreytse commented on #72
Hi @g6ai

Thanks for the reporting and this issue has been addressed and settled down. Please update your plugin to the latest version.

Thanks and regards

[2021-03-29 09:59] g6ai commented on #72
@jeffreytse Sir you are most brilliant! Thanks for the fix!

[2021-03-29 09:59] #72 closed

[2021-03-29 10:10] jeffreytse commented on #72
@g6ai You are welcome, It's my honor to be able to help you! If you like my works, very welcome to be my prior sponsor, it will keep these open-source works sustainable and take one step towards make my new ideas come true. 😝

[2021-03-30 01:45] jeffreytse commented on #71
Hi @5c0tt-b0t

If you use `dd` command, then the behavior is `p` for pasting after below line and `P` is for pasting above line, you can try the same behaviors in the VIM edior or NVIM editor.

Thanks and regards

[2021-03-30 09:13] #73 closed

[2021-03-30 09:13] #74 closed

[2021-03-30 14:28] MohamedIrfanAM opened #75 "How to disable '<' prompt in normal mode"
I want to disable '<' in normal, it messes up my prompt (starship). Please help...
BTW your plugin is so useful that I can't live without it.

[2021-03-30 14:57] jeffreytse commented on #75
Hi @MohamedIrfanAM

Firstly, thanks for the support! As you said you are using the starship, so the vi mode status prompt is provided by starship, you can config the vi mode prompt by starship configuration file (`~/.config/starship.toml`) from its [document](https://starship.rs/config/#character).

And welcome to star this project for further updates in the future. 👍

Thanks and regars

[2021-03-30 15:29] MohamedIrfanAM commented on #75
Thank you so much, fixed it :)

[2021-03-30 16:15] MohamedIrfanAM commented on #75
one more question, i have mapped jk to esc(normal mode) using ZVM_VI_INSERT_ESCAPE_BINDKEY=jk
but when i type 'k' i noticed a lag. can i fix this too

[2021-03-30 16:21] #75 closed

[2021-03-30 16:21] jeffreytse commented on #75
Hi @MohamedIrfanAM

Is it typing `j` a little bit lag, not typing `k`?

Thanks and regards

[2021-03-30 16:23] MohamedIrfanAM opened #76 "Lag while typing k"
I have mapped jk to ESC(normal mode) using ZVM_VI_INSERT_ESCAPE_BINDKEY=jk
but when I type 'k' i noticed a lag. can i fix this

[2021-03-30 16:24] jeffreytse commented on #76
Hi @MohamedIrfanAM

Is it typing `j` a little bit lag, not typing `k`?

Thanks and regards

[2021-03-30 16:24] MohamedIrfanAM commented on #75
while typing k

[2021-03-30 16:30] MohamedIrfanAM commented on #76
yes typing while typing `k`, its okay. Can also add `kj` to `ESC` normal mode ??
Thank you so much for responding

[2021-03-30 16:30] jeffreytse commented on #76
I just tried and no lag in my environment. Could you try this command `bindkey | grep '"k*"'` and tell me the result?

[2021-03-30 16:32] MohamedIrfanAM commented on #76
`"k"-"~" self-insert`

[2021-03-30 16:32] MohamedIrfanAM commented on #76
can I add `kj` too

[2021-03-30 16:33] jeffreytse commented on #76
Yes, you can do this keybinding.

[2021-03-30 16:35] MohamedIrfanAM commented on #76
Thank you I fixed it :) :)

[2021-03-31 02:39] #68 closed

[2021-03-31 04:40] jeffreytse opened #77 "Better dot command to enhance the behavior and fix some issues related to it"
As we known, the default dot command's behavior is not good and it has some issues with this plugin.

For example:

- Using `R` command from normal mode to replace characters that we can not input a newline character.
- Using `R` command from visual mode doesn't remove lines of selection.
- Using `r` command from visual mode to replace multi-lines selection will join lines.
- ...

Above example al

[2021-03-31 08:08] jeffreytse opened #78 "The cursor position does not go back one character after exiting the replace mode"
# Reproduce
- Open a new terminal.
- Input the content as below.

[code]

- Put the cursor at the "b".
- Enter normal mode and press `R`.
- Press `<ESC>` to exit the replace mode.

# Result
The cursor is still at `b`.

# Expected behavior

The cursor should be at `a`.

[2021-03-31 13:04] MohamedIrfanAM commented on #76
can i add both ??

[2021-03-31 13:32] jeffreytse commented on #76
Hi @MohamedIrfanAM ,

Currently, you can do by below code snippet:

[code]

Thanks and regards

[2021-03-31 13:45] jeffreytse opened #79 "Support custom multiple escape key bindings in the same mode"
Currently, the escape bindkey option (e.g. `ZVM_VI_INSERT_ESCAPE_BINDKEY`) supports bind only one, however, there are some requirement of multiple escape keybindings such as #76, so it should be enhanced.

For now, you can do by below code snippet:

[code]

[2021-03-31 14:03] MohamedIrfanAM commented on #76
Thank you

[2021-04-01 06:35] #78 closed

[2021-04-01 06:36] #77 closed

[2021-04-01 06:41] #43 closed

[2021-04-01 06:42] #33 closed

[2021-04-01 07:10] jeffreytse opened #80 "Unexpected behavior of `[cdy][lh]` from normal mode"
# Reproduce
- Open a new terminal.
- Input the content "abc".
- Put the cursor at "b".
- Press `dl` (or `dh`, `cl`, etc).

# Result
The "bc" is deleted.

# Expected behavior
- Only `b` should be deleted for `dl`
- Only `a` should be deleted for `dh`

[2021-04-01 07:19] jeffreytse opened #81 "`Y` is not yanking as a line"
# Reproduce
- Open a new terminal.
- Input the content "abc".
- Press `Y` and then `p`.

# Result
The content becomes:
[code]

# Expected behavior
The yanking content should be paste as a new line:
[code]

[2021-04-01 10:40] jeffreytse opened #82 "Unexpected behavior of `[cdy]l` when cursor is at the end of line"
# Reproduce
- Open a new terminal.
- Input the content "abc".
- Put the cursor at "c".
- Press `dl` (or `cl`, etc) from normal mode.

# Result
The "c" doesn't be deleted.

# Expected behavior
- `c` should be deleted

[2021-04-01 11:54] Hubro commented on #60
Nice, works perfectly!

[2021-04-01 11:54] #60 closed

[2021-04-01 23:46] gotgenes opened #83 "Entering insert mode with A and auto-suggestion places cursor at next to final character"
When an auto-suggestion is present, and the user is in normal mode, entering insert mode with `A`, the cursor will be placed before the final character.

![autosuggest](https://user-images.githubusercontent.com/8517/113364938-a3618c80-9309-11eb-8df6-77abbccb4389.gif)

Sequence of events, above:

1. From insert mode, type `echo`
2. zsh auto-suggestion suggests completion with previous command of `e

[2021-04-02 05:19] 5c0tt-b0t commented on #71
I apologise for the delayed response!
I do understand that vi/vim/nvim will do this and that your aim is a truly vi-like experience, what I mean is that is is a regression in usability, there is a reason why bash/zsh etc didnt include this feature, as it does not give us any benefit, the shell works on one line, so by default it appends/prepends on the same line, this way we can hit enter and our

[2021-04-02 05:56] jeffreytse commented on #71
Hi @5c0tt-b0t

I understand your concern, but there will be another group of people who will ask why when I use `dd` or `yy` to delete or copy not as a line.

For example, some people may edit a multi-line command similar to `curl` and split it into multiple lines with slash

[code]

They would use `dd` to delete a line, then they can use `P` to paste to above line (for swapping lines), or they wo

[2021-04-02 09:46] weisbrja opened #84 "Cursor mode not changing in ST"
# Reproduce

This bug **only occurs** when using [ST](https://st.suckless.org/) (the simple terminal from suckless).
To reproduce, simply put the following line in your `.zshrc` (sourcing the plugin in a different way might also work for reproducing this bug, but I have only tested sourcing it like this):
[code]

# Result

The cursor mode is not changing from block to line when switching between n

[2021-04-02 09:49] jeffreytse commented on #84
Hi @weisbrja

Thanks for the reporting. Could you try this command `echo $TERM` and tell me the result?

Thanks and regards

[2021-04-02 09:50] #82 closed

[2021-04-02 09:50] #80 closed

[2021-04-02 09:52] weisbrja commented on #5
@jeffreytse I think that the red highlighting caused the confusion. In my opinion red is not really a good color, because we associate it with errors.

[2021-04-02 10:05] weisbrja commented on #84
Output for `echo $TERM`:
[code]

[2021-04-02 10:39] jeffreytse opened #85 "Add an option to set the term type for handling escape sequences properly"
As we known, different terminal emulators will give the environment variable `TERM` a default value (e.g. `xterm-256color, rxvt-256color`, etc.). However, due to historical reasons, most terminal emulators have been implemented a superset of VT100 and VT110, it's the most VT10X escape sequences.

In order to handle the escape sequences properly, we should give a properly value to the the `TERM`. A

[2021-04-02 10:56] jeffreytse commented on #84
Hi @weisbrja

Thanks for your patience. This issue has been addressed and fixed, please update your plugin to the latest version. And also welcome to star this project for further udpates in the future. : )

Thanks and regards

[2021-04-02 11:02] jeffreytse commented on #5
Hi @weisbrja, thanks for the suggestion, I will take a consideration for a better highlight background color by default.

[2021-04-02 11:12] jeffreytse commented on #18
Hi @ngmariusz , is this issue settled down? welcome back to have a further discussion with me. : )

[2021-04-05 03:43] jeffreytse commented on #83
Hi @gotgenes

This behavior is a feature of default [zsh-autosuggestions](https://github.com/zsh-users/zsh-autosuggestions) (related [code](https://github.com/zsh-users/zsh-autosuggestions/blob/ae315ded4dba10685dbbafbfa2ff3c1aefeb490d/zsh-autosuggestions.zsh#L71-L77)) for easier choosing the auto suggestion. You can config the option `ZSH_AUTOSUGGEST_ACCEPT_WIDGETS` to change the behavior:

[code]

[2021-04-05 06:54] jeffreytse opened #86 "Unexpected behavior of paste when it has auto suggestion suffix"
# Reproduce
- Open a new terminal.
- Input below content .
[code]
- Press `<Enter>` to execute it.
- Re-input content `abc` (here we will get the auto suggestion suffix that first time we input).
- Enter normal mode and move backward the cursor to `a`.
- Press `cw` (or `yw`, `de`, `yk`, etc).
- Press `p`

# Result
The content becomes:
[code]

# Expected behavior
The paste content should be `abc`,

[2021-04-05 16:15] gotgenes commented on #83
Interesting! zsh-vim-mode's behavior is to place the cursor at the end of line (after the auto-suggested text) so I had gotten used to that behavior.

[2021-04-05 16:23] jeffreytse commented on #83
Yes, it's better to keep compatibility with the `zsh-autosuggestions` plugin, and this issue is introduced by `zsh-autosuggestions`, so you just need to do the simple configuration with `ZSH_AUTOSUGGEST_ACCEPT_WIDGETS` option, it will be settled down perfectly! : )

[2021-04-05 16:38] gotgenes commented on #83
Thanks for the suggestion. Just to be clear, the configuration you're suggesting is

[code]

Is this correct?

When I use this configuration, and the example above, `A` places the cursor in insert mode immediately after the `o` in `echo`. Is there a configuration that I should use that will make it so `A` places the cursor after the `H` in `$PATH`?

[2021-04-05 16:43] jeffreytse commented on #83
Hi @gotgenes , the configuration you provided is correct. For choosing the suggestion, you can use `$` to instead of `A` after you setting with the configuration cleared.

[2021-04-05 16:55] CaninoDev commented on #15
A small note:

Should you be using `oh-my-zsh` and have `history-substring-search` in your list of plugins, make sure that `zsh-vi-mode` is listed _before_ `history-substring-search` to maintain functionality. Haven't yet fully tested to see if `history-substring-search` affects other areas of `zsh-vi-mode` as I just started using this plugin. For some reason, if the order was reversed, `history-s

[2021-04-06 02:10] jeffreytse opened #88 "When the count of `[cdy]<count>[ia][wW] is quite large, it will be stuck for a long time"
# Reproduce
- Open a new terminal.
- Stroke `<ESC>` to enter normal mode.
- Stroke `[cdy]<count>[ia][wW]`, such as `d30000iw`.

# Result
The command line will be stuck for a long time.

# Expected behavior
We should do some optimization on it, when the cursor position is at the end and no long change, we should stop executing.

[2021-04-06 02:11] #86 closed

[2021-04-06 02:11] #85 closed

[2021-04-06 02:13] jeffreytse commented on #84
Hi @weisbrja, Is this issue settled down?

[2021-04-06 02:40] jeffreytse commented on #83
Hi @gotgenes

I’m very sorry, I misunderstood your issue, and it's not about choosing the auto-suggestion or not, just about the wrong cursor position. Now this issue has been addressed and fixed, please update your plugin to the latest version.

Thanks and regards

[2021-04-06 02:57] jeffreytse commented on #15
Hi @CaninoDev

Thanks for the small note, you will be very welcome to open an issue if you meet any problem. : )

Thanks and regards

[2021-04-06 03:46] #88 closed

[2021-04-06 19:01] gotgenes commented on #83
@jeffreytse Thanks for following up! Yes, sorry, I probably could have made the issue clearer.

Confirmed fixed in the latest version!

[2021-04-06 19:01] #83 closed

[2021-04-08 08:43] ftpd opened #90 "Using the plugin breaks fzf's ctrl+r bind."
It doesn't matter if I source zsh-vi-mode before or after fzf stuff, ctrl-r is somehow taken for `"^R" history-incremental-search-backward`. Even if I manually bind my ^R *after* loading the plugin (via `bindkey "^R" fzf-history-widget`) it still doesn't work. What am I doing wrong?

[2021-04-08 09:02] jeffreytse commented on #90
Hi @ftpd

For this issue, you can read [here](https://github.com/jeffreytse/zsh-vi-mode#execute-extra-commands) or refer to #24. And welcome to star this project for further updates in the future. : )

Thanks and regards

[2021-04-09 02:50] jeffreytse opened #91 "Lazy keybindings not working"
# Reproduce
- Open new terminal
- Input command `bindkey -M vicmd | grep \"i\"`

# Result
We get the below result:
[code]

# Expected behavior
We should get no this keybinding, because the lazy keybindings is enabled by default, the all key bingdings of `vicmd` and `visual` should be bound at the first time enter normal mode.

[2021-04-10 02:37] #91 closed

[2021-04-11 02:28] jeffreytse opened #92 "Disaplay doesn't be refreshed after entering replace mode by `R`"
# Environment
- System: macOS Big Sur v11.2.3
- Terminal: iTerm2 v3.4.4
- Zsh: zsh 5.8 (x86_64-apple-darwin20.0)

# Reproduce
- Open iTerm2 terminal.
- Input content "foo bar baz".
- Enter replace mode by `R` from normal mode.
- Press any keys to replace any characters.

https://user-images.githubusercontent.com/9413601/114290232-90408080-9ab0-11eb-9272-b9abb10a27f7.mp4

# Result
- The display doe

[2021-04-11 02:52] jeffreytse commented on #92
Right behavior after fixing this issue:

https://user-images.githubusercontent.com/9413601/114290667-d21ef600-9ab3-11eb-892c-5ec9c582364b.mp4

[2021-04-11 12:41] ftpd commented on #90
Right, that works, thank you!

[2021-04-11 12:41] #90 closed

[2021-04-11 14:59] 5c0tt-b0t commented on #71
Once again, sorry for the delay, been so busy!
You know what, you are right, whilst I still believe its not as quick/easy (lazy!) as standard zsh behaviour, I imagined myself using a more complex version of your example (multiline, between a do/done case/esac if/then) and I too believe vim behaviour is very welcome! allow me to close this with a huge thanks for both your hard work (its great!) and

[2021-04-11 14:59] #71 closed

[2021-04-11 15:29] jeffreytse commented on #71
Hi @5c0tt-b0t

Thanks for your good issue and maybe I will add an option for setting this `yy` or `dd` behavior not as a line in the future if there are many users ask for this.

Thanks and regards

[2021-04-12 09:41] #92 closed

[2021-04-14 22:22] gkapfham commented on #20
Hello @jeffreytse and @mskar, I wanted to confirm that I also experienced this behavior when I was used `nvim` and this plugin in a tmux session. I have used the `ZVM_CURSOR_STYLE_ENABLED` variable as @jeffreytse suggested so that now I always have a consistent style for the cursor. While it would be nice to have different styles for the cursor, I think that it is better if the cursor always signi

[2021-04-15 01:47] jeffreytse commented on #20
Hi @gkapfham , this issue is the same as another one #11, and currently the cursor will be auto updated when typing, so you can still enable this cursor style feature.

[2021-04-15 01:49] jeffreytse commented on #20
Same as #11

[2021-04-15 07:07] weisbrja commented on #84
@jeffreytse Yes, this issue has been resolved.

[2021-04-15 07:07] #84 closed

[2021-04-16 18:44] kyazdani42 opened #93 "ZVM_VI_ESCAPE_BINDKEY not working for '^J' anymore"
## General infomation

zsh-vi-mode 0.8.2
archlinux
alacritty

## Problem description

title is descriptive, i used '^J' (control j) for escape, after updating, stopped working.
This happened since ba3493c

## Reproduction steps

set the variable to '^J', it doesn't escape as expected

## Expected behavior

escape :)

[2021-04-17 14:30] pjg commented on #52
Yes, this would be a great addition!

[2021-04-19 02:29] jeffreytse commented on #93
Hi @kyazdani42

Thanks for the reporting. I will try to fix this issue as soon as possible.

Thanks and regards.

[2021-04-19 02:52] androidfans opened #94 "`a` `i` will not enter the insert mode occasionally, but `A` `I` will. And surround command `S` also broken"
This issue happens occasionally.
I have found this issue after updating plug on 19th April。
My last update date is 17th March. So maybe the commits in this period caused this issue。

Some related  settings in my .zshrc below
[code]

[2021-04-21 05:05] androidfans commented on #94
BTW, I have just updated to ubuntu20.04 recently. Don't know if it affected

[2021-04-25 07:29] jeffreytse commented on #94
Hi @androidfans

Thanks for your reporting, this issue is quite weird, could you provide me your dotfiles to do the investigation?

Thanks and regards

[2021-04-25 10:07] androidfans commented on #94
@jeffreytse  Has sent to your mail from rejectliu@gmail.com
BTW, i am using the powerlevel10k theme. it can make your prompt load fast without any delay
https://github.com/romkatv/powerlevel10k

[2021-04-27 11:35] doublethinkio opened #95 "request support for custom arrow keys"
For example, use j k i l instead of the default h j k l, and use h instead of i

[2021-04-27 15:04] jeffreytse commented on #95
Hi @doublethinkio

Thanks for the request, currently I am busy, but I will try to settle it as soon as possible.

Thanks and regards

[2021-04-28 04:21] jeffreytse commented on #94
Hi @androidfans,

Currently I'm busy, I will try to settle this issue as soon as possible, please be patient.

Thanks and regards

[2021-04-28 07:40] androidfans commented on #94
@jeffreytse  just relax. I have reverted the zvm version. It is not block my work. feel free to fix it in a proper time

[2021-04-28 18:44] Asocia opened #96 "Terminal slows down after enabling this plugin"
## General infomation
Terminal: Konsole
OS: Ubuntu 20.04
ZSH framework: oh-my-zsh
ZSH version 5.8
ZVM version 0.8.3

## Basic examination

- [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [x] I have the latest version of zsh-vi-mode
- [x] I have tested with another terminal program

## Problem description
Enabling this plugin makes prompt 2.5 times slow. Am

[2021-04-29 03:13] jeffreytse commented on #96
Hi @Asocia

In fact, this plugin is initialized during the first precmd, it's different from most of other plugins that are initialized during souring the plugin. So the zsh-prompt-bencmark could not detect the prompt time of those plugins. Actually, the initialization time is short now.

Thanks and regards

[2021-04-29 10:38] Asocia commented on #96
Yes, as you said it is initialized only once. I disabled precmd hook for this plugin and initialized it myself but result didn't change. I'm curious what makes this plugin slow and if it is possible to make it faster. I really like this plugin and it would be great if this issue can be solved.

Some other examinations:

- When I type `set -x` and then `set +x` I can see a detailed trace. There is

[2021-04-29 10:49] jeffreytse commented on #96
Hi @Asocia

There are lots of stuffs need to be done and they are necessary for this plugin running normally. I can add an option to let you set the time of initializating this plugin. And welcome to star this plugin for further updates in the future.

Thanks and regards

[2021-05-04 00:52] kitallen23 commented on #95
Hi @jeffreytse. For when you have time to work on this: I feel as though the best way to go about this is to allow the user to "opt-out" of all default bindings, instead being able to map their own. I'm currently trying to set this up as a Colemak user and having a very difficult time.

[2021-05-04 06:15] jeffreytse commented on #95
Hi @kitallen23

Thanks for the information and I will try to make it better.

Thanks and regards

[2021-05-05 01:39] juanda1306 opened #97 "Grep error on every command after enabling this plugin"
## General infomation

- Terminal program: Alacritty
- Operating system: Manjaro Linux 5.4.114-1
- ZSH framework: none, manual installation (Also tried installing the AUR package)
- ZSH version: 5.8
- ZVM version: 0.8.3

## Basic examination

- [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [x] I have the latest version of zsh-vi-mode
- [x] I have tested wit

[2021-05-05 01:54] jeffreytse commented on #97
Hi @juanda1306

This plugin has no using any `grep` commands. I think it's something wrong on your environment. Could you provide me more details? So that I can help you settle it down. And welcome to star this project for further updates in the future.

Thanks and regards

[2021-05-05 02:07] jeffreytse commented on #97
Hi @juanda1306

Is this problem not reproduced after disabling this plugin?

Thanks and regards

[2021-05-05 10:54] djanatyn opened #98 "Docs: Comparison to Existing zsh vi-mode Plugins"
I'm interested in this project as a longtime zsh user. I've noticed a lot of different "vi-mode" plugins over the years, and have used several:
* https://github.com/sharat87/zsh-vim-mode/blob/master/zsh-vim-mode.plugin.zsh
* https://github.com/ohmyzsh/ohmyzsh/blob/master/plugins/vi-mode/vi-mode.plugin.zsh
* https://github.com/Nyquase/vi-mode/blob/master/vi-mode.zsh

I'm currently using `sharat87/z

[2021-05-05 11:35] juanda1306 commented on #97
Hi @jeffreytse. Yes, the problem goes away after disabling the plugin. Maybe you could check my [.zshrc](https://gitlab.com/juanda1306/dotfiles/-/blob/master/.zshrc) to see if there is any setting or any other plugin conflicting with zsh-vi-mode?
Thanks

[2021-05-05 11:52] jeffreytse commented on #97
Hi @juanda1306 ,

Thanks for providing me your `.zshrc` file, could you comment some of your plugins and try again to check whether there are conflicts of plugins?

Thanks and regards

[2021-05-05 12:09] juanda1306 commented on #97
I commented out all of them, one by one, and I foud out that commenting out either zsh-vi-mode or [alias-tips](https://github.com/djui/alias-tips) solves the problem. Commenting any of the other plugins had no effect, so I guess it's an icompatibility between the 2 I just mentioned.

[2021-05-05 12:19] jeffreytse commented on #97
Thanks for the useful information, I will have a future test. Once I get any progress I will comment here.

[2021-05-05 12:22] juanda1306 commented on #97
Okay, thanks!!!

[2021-05-05 14:42] jeffreytse commented on #97
Hi @juanda1306

Firstly, thanks for your patience. I have checked this issue, it is a bug on the plugin [alias-tips](https://github.com/djui/alias-tips). And I have submitted a PR to that project to fix the grep error. Once the PR is merged, this issue should be settled down perfectly.

Thanks and regards

[2021-05-05 16:54] jeffreytse commented on #98
Hi @djanatyn

First of all, thank you very much for describing the issue carefully.

What I must say is that I haven't compared the other vi-mode plugins you mentioned very seriously. This plugin was born to solve the various problems of zsh's default vi mode. It pursues closer to native vim's behavior, it allows users to have a better user experience, so the object of comparison is the original d

[2021-05-05 21:59] juanda1306 commented on #97
Nice, thanks!!!

[2021-05-06 05:49] jeffreytse commented on #97
Hi @juanda1306

The PR has been merged, please update your [alias-tips](https://github.com/djui/alias-tips) and try again.

Thanks and regards

[2021-05-06 10:49] jeffreytse commented on #93
Hi @kyazdani42,

Thank you for your patience, I have been busy during this period. Now this problem has been solved successfully. Please update your plugin to the latest version.

Thanks and regards.

[2021-05-07 07:59] jeffreytse opened #100 "Can't exit the Replace Mode by typing `ESC` when setting ZVM_VI_ESCAPE_BINDKEY to another one."
## General infomation

- Terminal program: Xfce 4.16
- Operating system: Manjaro Linux 5.4.114-1
- ZSH framework: zinit
- ZSH version: zsh 5.8 (x86_64-pc-linux-gnu)
- ZVM version: 0.8.3-2f6864b

## Basic examination

- [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [x] I have the latest version of zsh-vi-mode
- [x] I have tested with another terminal program

[2021-05-07 10:26] #100 closed

[2021-05-08 04:46] lfilho opened #101 "Prezto support"
Support / easy installation on Prezto?

I'd love to test it out on my dotfiles repo so I was wondering if there are easy steps for setting it up with Prezto?

[2021-05-08 11:30] juanda1306 commented on #97
Yes, now everything works fine, thanks!!!

[2021-05-08 11:30] #97 closed

[2021-05-09 06:11] jeffreytse commented on #94
Hi @androidfans

I still can't reproduce this issue, it would be better to have some additional instructions for me to investigate this issue further.

Thanks and regards

[2021-05-12 10:15] Asocia opened #102 "Custom escape key doesn't work well with zsh-autosuggestions"
I'm using `kj` for switching from insert mode to normal mode.
[code]
When I type `k` in insert mode, cursor waits for a second before actually writing `k` to the terminal. This is just like how it works in vim. But this doesn't work well with `zsh-autosuggestions`. Consider that following entry is in my history: `ssh desktop`.

When I type `ssh des`, I see something like this in my terminal (the b

[2021-05-12 10:43] jeffreytse commented on #102
Hi @Asocia

Thanks for the reporting, I will try to fix this issue as soon as possible. And welcome to star this project for further update in the future.

Thanks and regards

[2021-05-12 11:22] jeffreytse commented on #102
Hi @Asocia

Thanks for your patience. This issue has been settle down, please update your plugin to the latest version and check again.

Thanks and regards

[2021-05-12 11:23] Asocia commented on #102
I just checked out to master and I can confirm that it works. Thank you very much for the quick action!

[2021-05-12 11:23] #102 closed

[2021-05-13 06:48] androidfans commented on #94
![动画](https://user-images.githubusercontent.com/6452650/118088498-c21f6c80-b3f9-11eb-9c5a-a5a2aa30a3c2.gif)
I have found a way to repro this bug in high probability.
step 1 : use esc enter normal mode
step 2 : use hhhhh go to the start of the line.
step 3:  kick hhhh in high speed
step 4: then `a` and `i` will not bring me into insert mode even after press enter to go to next command.

[2021-05-13 08:36] androidfans commented on #94
![第二个](https://user-images.githubusercontent.com/6452650/118100534-2695f800-b409-11eb-891d-fe9a080851b0.gif)
Another  way to repro this.
step is
1. move to the end
2. repeat some `b` quickly
3. `a`

[2021-05-13 10:06] jeffreytse commented on #94
Hi @androidfans

Thanks for the useful informations. Currently this issue has been addressed and settled down, please update your plugin to the latest version and check again.

Thanks and regards

[2021-05-13 10:15] androidfans commented on #94
@jeffreytse Amazing. you are so efficient! it's not repro on my machine

[2021-05-13 10:15] #94 closed

[2021-05-13 10:17] jeffreytse commented on #94
@androidfans You're welcome, I hope you have a good experience on this plugin. : D

[2021-05-13 10:28] androidfans opened #103 "Sometimes failed to enter Visual mode"
![V](https://user-images.githubusercontent.com/6452650/118112986-4b459c00-b418-11eb-8781-3ed375d11e46.gif)
repro step :
1. `exec zsh` to init
2. type one character which can be auto-suggested
3. type right arrow to accept suggestion
4. esc to enter nomal mode
5. `b` to go back a word
6. try `v`. and it will not work
note : step 4 and step 5 must be quick

[2021-05-13 10:32] androidfans opened #104 "`S` surround is not working. but `cs` work"
![S](https://user-images.githubusercontent.com/6452650/118113978-8f856c00-b419-11eb-87b8-688724097fc4.gif)

[2021-05-14 02:50] jeffreytse commented on #93
Hi @kyazdani42

Could we close this issue now?

Thanks and regards

[2021-05-14 03:49] jeffreytse commented on #103
Hi @androidfans

Thanks for the reporting, this issue has been addressed and settled down. Please update your plugin to the latest version and check again.

Thanks and regards

[2021-05-14 04:37] androidfans commented on #103
will not repro

[2021-05-14 04:37] #103 closed

[2021-05-17 19:30] kyazdani42 commented on #93
looks fixed indeed, thanks :)

[2021-05-17 19:30] #93 closed

[2021-05-20 11:10] jeffreytse commented on #104
Hi @androidfans

Thanks for your patience, now this issue has been addressed and settled down. Please update your plugin to the latest version and try again.

Thanks and regards

[2021-05-20 11:31] #104 closed

[2021-05-24 06:33] androidfans opened #105 "`gg` will jump to first item in history in multi line command"
in normal mode and in a multi line .
when cursor in the first line ,  type `gg` . will switch to the first command in history.
Is this by design?

[2021-05-24 07:33] jeffreytse commented on #105
Hi @androidfans

It's designed by the default vi keybindings (i.e. `bindkey -v`), not binding by this plugin.

Thanks and regards

[2021-05-24 07:35] androidfans commented on #105
Ok, IC.  Sometimes  it will cause that i lose my current editing state.

[2021-05-24 07:35] #105 closed

[2021-05-24 15:47] androidfans opened #106 "`dG` not work when editing a multi line command"
curl 'https://exiftool.org/Image-ExifTool-12.26.tar.gz' \
  -H 'authority: exiftool.org' \
  -H 'pragma: no-cache' \
  -H 'cache-control: no-cache' \
  -H 'sec-ch-ua: " Not A;Brand";v="99", "Chromium";v="90", "Microsoft Edge";v="90"' \
  -H 'sec-ch-ua-mobile: ?0' \
  -H 'upgrade-insecure-requests: 1' \
  -H 'user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Geck

[2021-05-25 07:14] androidfans opened #107 "`ci'` not work well when cursor back from end to start"
![ci](https://user-images.githubusercontent.com/6452650/119455038-c9386a00-bd6b-11eb-89bc-bcc14bf335d6.gif)

[2021-05-28 12:08] jeffreytse opened #108 "Support to custom highlight foreground"
Implement the `ZVM_VI_HIGHLIGHT_FOREGROUND` option and the `ZVM_VI_HIGHLIGHT_EXTRASTYLES` option to customize foreground color and extra style.

For example:

[code]

[2021-05-29 07:34] #108 closed

[2021-06-01 13:56] pawurb commented on #12
@1m0d I've managed to fix this behaviour by adding the following at the end of my `.zshrc`

[code]

[2021-06-01 16:03] jeffreytse commented on #12
@pawurb, In case of something incompatible, I suggest you use the `zvm_bindkey` command to do binding as [the document snippet](https://github.com/jeffreytse/zsh-vi-mode#custom-widgets-and-keybindings).

[2021-06-10 08:33] fdietze commented on #59
Hi, `Home` and `End` keys are not working for me. Neither in insert, nor in normal mode. Any ideas how to debug?

[2021-06-10 08:39] jeffreytse commented on #59
Hi @fdietze

Could you give me some more instructions on your issue? Such as your `.zshrc`, what plugin was corrupted and so on.

Thanks and regards

[2021-06-10 09:03] fdietze commented on #59
I just stripped my `.zshrc` down to:

[code]

[2021-06-10 09:23] jeffreytse commented on #59
@fdietze For this, what plugin keybindings on the `Home` and `End` do not work? In other words, what hehavior do you expect?

[2021-06-10 09:26] fdietze commented on #59
I expected `Home` to do the same as `0` in normal and insert mode and `End` the same as `$`. Do I have to map them manually?

Thank you

[2021-06-15 09:12] Davincible commented on #59
I'm having the same issue. By default, Manjaro registers the keys as below, which works fine except when I source this plugin. Do I need to set a separate keybinding for this plugin? if so which

[code]

[2021-06-15 09:20] jeffreytse commented on #59
Hi @Davincible @fdietze

Thanks for the information, I will try to dig up this issue and fix it as soon as possible.

Thanks and regards

[2021-06-16 02:42] jeffreytse commented on #59
Hi @fdietze

For the default vi keybindings (i.e. `bindkey -v`) without this plugin, the behaviors of `Home` and `End` aren't going to the beginning/end of line. Are them bound by yourself or aother plugin?

Thanks and regards

[2021-06-16 21:10] fdietze commented on #59
@jeffreytse

That's correct, the default zsh vi mode does not map Home/End. But the bash vi mode and vim support it by default.

I thought that it would make sense to map these keys by default. Something like:

[code]

What do you think?

[2021-06-16 23:06] Davincible commented on #59
Can confirm, also managed to do it like that, my key codes were just different with

[2021-06-21 10:42] jeffreytse commented on #59
Hi @fdietze @Davincible

So sorry for the late following up, I have been busy recently, thanks for your suggestions. I will take a consideration for adding them to default keybindings. Before that you can easily fullfil these keybindings by adding manually with `zvm_after_init` function, here is the related [document](https://github.com/jeffreytse/zsh-vi-mode#execute-extra-commands) for you guys.

[2021-06-25 02:11] YodaEmbedding opened #110 "Enter insert mode by default on new prompt"
## General information

<details>
<summary>General information details</summary>

- Terminal program: alacritty
- Operating system: Arch Linux
- ZSH framework: zinit
- ZSH version: 5.8
- ZVM version: latest probably... is there a terminal command that can be used to determine this?

</details>

## Basic examination

- [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode)

[2021-06-25 03:38] jeffreytse commented on #107
Hi @androidfans

This issue is introduced by the  strategy of searching surrounds, when your cursor is at one of a pair of surrounds, it will be as the left surround, and it will forward search the right surround.

Thanks and regards

[2021-06-25 03:46] jeffreytse commented on #110
Hi @YodaEmbedding

Thanks for the issue and the report on typo of issue template, I think your issue is related to the [command line initial mode](https://github.com/jeffreytse/zsh-vi-mode#command-line-initial-mode). By default, it's starting with last mode.

Thanks and regards

[2021-07-01 14:00] Hubro opened #111 "Remove delay after pressing Esc key"
## General information

## Basic examination

- [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [x] I have the latest version of zsh-vi-mode
- [x] I have tested with another terminal program  (Gnome Terminal)

## Problem description

After pressing Esc, there is a short delay before ZVM enters Normal mode.

1. Press down Esc key
1. Release Esc key
1. ~200 ms

[2021-07-01 19:24] haberdashPI opened #112 "zsh-vi-mode overwrites my personal bindkey customizations"
## General information

- Terminal program: iTerm 3.4.8
- Operating system: macOS BigSur 11.2.3
- ZSH framework: oh-my-zsh
- ZSH version: 5.8
- ZVM version: 8.4.0
-->

## Basic examination

- [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [x] I have the latest version of zsh-vi-mode
- [x] I have tested with another terminal program

## Problem description

C

[2021-07-01 19:29] haberdashPI commented on #112
I would note, although the README does explain something about using "zvm_bindkey <keymap> <keys> <widget>" there is not a very good working minimal example of how to set this up if all I want to do is make sure my existing keybindings work in insert mode. (There's something about widgets, which I don't really care about).

[2021-07-02 02:54] jeffreytse commented on #111
Hi @Hubro

Thanks for the reporting, could your provide me your dotfiles (e.g. `.zshrc`) and keybindings (i.e. typing this command `bindkey -M viins` in your term)? I will try to help you solve this issue as soon as possible.

Thanks and regards

[2021-07-02 03:03] jeffreytse commented on #112
Hi @haberdashPI

Thanks for the issue. I think this is an issue about overwriting keys, and you can check issue #24 at first. And welcome to get back here for next step.

Thanks and regards

[2021-07-02 09:33] Hubro commented on #111
Of course:

# .zshrc

[code]

# .zprofile

[code]

[code]

[2021-07-02 11:37] haberdashPI commented on #24
This seems like more of a work-around than a good final solution. For example, if you configure fzf using oh-my-repl, there is already a nice [script](https://github.com/ohmyzsh/ohmyzsh/blob/master/plugins/fzf/fzf.plugin.zsh) that hunts down the location of fzf keybindings and calls `source` on them for you. All of this logic is made moot when zsh-vi-mode overwrite the bindings.

Isn't there some

[2021-07-02 11:39] haberdashPI commented on #24
An example use case: my dotfiles are designed to be portable, so they work on multiple environments. I don't want to specify machine specific folders in my .zshrc file because they need to work generically over several different machines (macOS, ubuntu and WSL 2).

[2021-07-02 11:56] jeffreytse commented on #24
Hi @haberdashPI

Actually, there is another option for you to config the way of initialization,  and the feature is in progress. As we know, most of plugins do their initialization when they are sourced. However, this plugin's initialization is postponed to a new command line started, it caused the overwriting issues that you have met.

Thanks and regards.

[2021-07-02 13:49] jeffreytse opened #113 "Support configuring the initialization mode"
Add an option called `ZVM_INIT_MODE` for people to configure the initialization mode. It allows users to decide the order of keybindings, since most of plugins do their keybindings when they are sourcing.

[code]

[2021-07-02 14:10] jeffreytse commented on #96
Hi @Asocia

Now this plugin has provided an option called `ZVM_INIT_MODE` to configure the initialization mode (#113), you can use this snippet `ZVM_INIT_MODE=sourcing` for doing the initialization inistantly when this plugin is sourcing.

Thanks and regards

[2021-07-02 14:11] jeffreytse commented on #24
Hi @haberdashPI

Now this plugin has provided an option called `ZVM_INIT_MODE` to configure the initialization mode (#113), you can use this snippet `ZVM_INIT_MODE=sourcing` for doing the initialization inistantly when this plugin is sourcing.

Thanks and regards

[2021-07-02 17:53] haberdashPI commented on #24
Thanks for the fast response @jeffreytse! From what I can tell, placing `ZVM_INIT_MODE=sourcing` before initializing oh-my-zsh and plugins mostly fixes this problem. It is probably with indicating somewhere in your docs that this only fixes the problem if `zsh-vi-mode` comes after `fzf` in the list of oh-my-zsh plugins (I tried it the first way first, and that did not resolve the issue with fzf's

[2021-07-02 17:54] haberdashPI commented on #112
Thanks for directing me there: might be worth changing the title there to identify it as a more general problem.

[2021-07-03 03:59] jeffreytse commented on #112
Is it you want to bind <kbd>ESC</kbd> + <kbd>;</kbd> to the widget `autosuggest-accept`, but not working?

[2021-07-03 08:07] Asocia commented on #96
Hi @jeffreytse,

I pulled the recent changes and added `ZVM_INIT_MODE=sourcing` to my `.zshrc`. I didn't observe any effect on prompt latency. Thanks.

[2021-07-03 08:12] jeffreytse commented on #96
Hi @Asocia

You're welcome and thanks for your checking out. If you get any other issue in the future, welcome to reach me.

Thanks and regards

[2021-07-03 08:20] Asocia commented on #96
Uhm, I think you got me wrong. By saying "I didn't observe any effect" I meant that the prompt is still slow as before. It was coming in 34ms and after applying the last change it's still 34ms.

[2021-07-03 08:22] jeffreytse commented on #96
Hi @Asocia , sorry for the misunderstand, did you put the mode option before sourcing this plugin?

[2021-07-03 08:23] Asocia commented on #96
Yes, it's coming before `plugins=(... zsh-vi-mode)` line.

[2021-07-03 08:37] jeffreytse commented on #96
In fact, the [zvm_init](https://github.com/jeffreytse/zsh-vi-mode/blob/8da589d490025bf9a5d37629770d38a1f75fae73/zsh-vi-mode.zsh#L3107) function will do a lot of neccessary works for the initialization, you can have a look and I will try to do some stuff to further reduce the initialization time.

[2021-07-03 11:07] jeffreytse commented on #111
Hi @Hubro

This issue has been addressed and fixed. Please update to the latest version and try again.

Thanks and regards

[2021-07-03 12:08] Hubro commented on #111
@jeffreytse Awesome! The delay is still there, but now my keystrokes are never lost. They are just slightly delayed. That's a massive improvement :smile:

[2021-07-03 12:08] #111 closed

[2021-07-06 12:40] enricofadly opened #114 "Incompatible with fzf-tab"
## General information

## Basic examination

- [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [x] I have the latest version of zsh-vi-mode
- [x] I have tested with another terminal program

## Problem description
I tried installed this zsh-vi-mode through the zimfw and manual but It make the fzf-tab become weird behaviour (the fzf-tab completion not working

[2021-07-06 13:42] jeffreytse commented on #114
Hi @enricofadly

Can I confirm that the plugin you are talking about is [Aloxaf/fzf-tab](https://github.com/Aloxaf/fzf-tab)?

Thanks and regards

[2021-07-06 13:58] enricofadly commented on #114
Yes sir it is,

and thanks for making this amazing software, I just hope it would work with fzf-tab too

[2021-07-06 14:08] jeffreytse commented on #114
@enricofadly , you're welcome. Also thanks for your support to this plugin. Welcome to star this project for further updates in the future. I will try to settle this issue as soon as possible.

[2021-07-06 14:13] roosta commented on #114
Just wanna chime in with the unhelpful comment "it works here". I use zplug instead of zimfw to manage my plugins, other than that I don't really have anything special in my config. I recall having some issues with load order with some plugins, but when I tried moving fzf-tab, it still worked fine. Other than that I got nothing, but I would maybe start looking at zimfw.

[2021-07-06 14:16] haberdashPI commented on #112
That was the original issue yes. With the fix mentioned in #24, this now works.

[2021-07-06 14:16] #112 closed

[2021-07-06 14:22] jeffreytse commented on #112
@haberdashPI  That's great, to hear that you have solved this problem smoothly.

[2021-07-06 14:25] enricofadly commented on #114
Ok sir, glad to know ur working on this,  i already starred it tho, thanks sir

[2021-07-06 14:26] enricofadly commented on #114
Glad to know it could still work with fzf-tab, im looking around the zplug might be found something useful,

Thanks for letting me know this sir

[2021-07-06 14:43] jeffreytse commented on #114
@enricofadly I just have a test on the `fzf-tab` within `zinit` plugin manager, it totally work well without the issue you mentioned.

[2021-07-06 14:59] enricofadly commented on #114
Ok sir that cleared half the issue that its not on fzftab and zsh vi mode issue, ill try issue the zimfw then, thanks sir for ur working and i close this issue,

Thanks a lot

[2021-07-06 14:59] #114 closed

[2021-07-06 15:28] jeffreytse commented on #114
Hi @enricofadly

Here is the solution to make `fzf-tab` work within `zimfw`:

1. Add `zmodule Aloxaf/fzf-tab` to your `.zimrc`
2. Add `zvm_after_init+=('source ${ZIM_HOME}/modules/fzf-tab/fzf-tab.zsh')` to your `.zshrc`
3. Restart your terminal

Hope you have a good experience!

Thanks and regards

[2021-07-06 15:57] #113 closed

[2021-07-06 16:21] enricofadly commented on #114
aye aye sir that's working sir.
thanks so much sir and thanks to put effort to fix my problem sir I hope this project get bigger and bigger sir

[2021-07-07 10:58] danihodovic commented on #110
Exactly what I was looking for. Very interesting plugin @jeffreytse !

[2021-07-07 13:16] jeffreytse commented on #110
@danihodovic Thanks for your support to this project. I hope you have a good experience in using this plugin. : )

[2021-07-07 13:37] B4rc1 commented on #95
Hey I would very much like this feature, because I'm on an alternate keyboard layout and my homerow is `dtrn` so this plugin is not usable for me in it's current form.
And btw scimming the sourcecode, it seems the basic things like `d`, `t` or `r` are currently not remappable. Thats something I would also need.

I'm willing to assist in this I'm just unsure how to store and configure custom keybin

[2021-07-07 13:44] jeffreytse commented on #95
Hi @B4rc1

Thanks for your interest in this project. As you know, now the arrow keys are not abled to be remapped, and it's a crucial part in this plugin and should be refactored in some way. I'm taking a consideration on this feature and any update I will reply here. Welcome to star this project for furether updates in the future. I hope you have a good experience in using this plugin. : )

[2021-07-07 14:07] danihodovic commented on #110
@jeffreytse Sometimes I get an error with `command not found: fzf`

Here is my setup

[code]

`${HOME}/.dotfiles/fzf-helpers.zsh` is properly sourced, but not fzf.zsh. Any idea why that may be?

I can reproduce the problem by opening a new prompt and pressing enter to trigger a new line very quickly.

[2021-07-07 14:46] jeffreytse commented on #110
@danihodovic, could you have a check where a fzf command is called in your script during you stroking enter key? I will help you settle down this issue as soon as possible.

[2021-07-07 15:48] danihodovic commented on #110
The contents of `~/.dotfiles/fzf-helpers.zsh`

[code]

[2021-07-07 15:51] jeffreytse commented on #110
@danihodovic  Could you open a new issue, in case someone also meets the same issue in the future?

[2021-07-08 09:01] jeffreytse commented on #110
@danihodovic I haven't seen the new issue created, to help you asap, here is my idea on this issue. I think this issue was caused by [the lazy keybindings feature](https://github.com/jeffreytse/zsh-vi-mode#lazy-keybindings). Accordingly, all the keybindings under normal mode (i.e. vicmd) should be bound after first time entering normal mode. In other words, you should use `zvm_after_lazy_keybindin

[2021-07-08 12:06] danihodovic commented on #110
`zvm_after_lazy_keybindings` seems to work!

[2021-07-09 01:51] jeffreytse commented on #110
Hi @YodaEmbedding , has your issue be settled down? Feel free to reply here if you still got some problems. : )

[2021-07-09 05:22] YodaEmbedding commented on #110
Seems to work, thanks!

[code]

NOTE: `$ZVM_MODE_INSERT` is only defined after `zsh-vi-mode`.

[2021-07-09 05:22] #110 closed

[2021-07-09 10:52] jeffreytse opened #115 "Support to do config by an unified function"
Since there are some config options relied to some variables defined in the plugin, however, some not. We need to provide an unified config entry function. The name of entry function is stored in an option called `ZVM_CONFIG_FUNC` and default value is `zvm_config`, you can change to others for fitting your flavor.

Then you can do the configurations before you source this plugin, for example:

[co

[2021-07-09 11:24] #115 closed

[2021-07-09 11:29] jeffreytse commented on #110
@YodaEmbedding , now the latest commit 8419488112dc861594c0301dabeb05d2ce0e1be1 has provided an unified configuration function for users, for the detail you can refer to [here](https://github.com/jeffreytse/zsh-vi-mode#configuration-function).

[2021-07-09 13:33] danihodovic commented on #110
@jeffreytse I disabled the plugin after a day - I found it to be pretty slow / laggy compared to the built in vi mode. Is there any way to speed the plugin up?

[2021-07-09 13:39] jeffreytse commented on #110
@danihodovic  , thanks for your report, which part do you feel slow/laggy? And could you try to use another readkey engine `ZLE`, see [here](https://github.com/jeffreytse/zsh-vi-mode#readkey-engine).

[2021-07-09 13:41] danihodovic commented on #110
I'll give it another try in a week

[2021-07-09 13:43] jeffreytse commented on #110
Thanks, and feel free to reply here if you meet any problem.

[2021-07-19 01:41] HsunGong opened #116 "CURSOR COLOR"
## Basic examination

iterm

can we change the cursor color like
[code]

[2021-07-19 01:54] HsunGong opened #117 "Cursor Error when switch window"
## General information

iterm 3.4.3
zsh5.8
os macos
tmux 2021
## Basic examination

When open 2 terminal window in tmux,
In first terminal, we use zsh with vi-insert mode;
In the second terminal, we then open a vim window;
Found that the vim cursor is changed based on the first window, shown in the picture.

![image](https://user-images.githubusercontent.com/32933986/126091066-ff6399f8-b2d5-4ece-8

[2021-07-19 03:02] jeffreytse commented on #116
Hi @HsunGong

For the custom cursor color, currently, you can follow below snippet:

[code]

Hope the code snippet can help you and welcome to star this project for further updates in the future. : )

Thanks and regards

[2021-07-19 03:11] jeffreytse commented on #117
@HsunGong, this issue is the same as another issue #11.

[2021-07-22 06:27] HsunGong commented on #117
Thanks.

[2021-07-22 06:27] #117 closed

[2021-07-22 06:34] HsunGong commented on #11
Neither https://github.com/jeffreytse/zsh-vi-mode/issues/11#issuecomment-801145881 nor https://github.com/tmux/tmux/issues/2059  helps though.

[2021-07-24 06:33] ysl2 opened #118 "How to map <C-c> to <ESC> ?"
I prefer `ctrl c` instead of `ESC`.

Please help ! Thanks :-)

[2021-07-24 06:36] #118 closed

[2021-07-25 13:33] jeffreytse commented on #118
Hi @ysl2

Thanks for your issue, hope you have settle down it, if you still got any issues, don't hesitate to reply me. : )

Thanks and regards

[2021-08-05 16:29] mathomp4 commented on #101
@lfilho I think the "usual" way should work. Go to your `~/.zprezto/contrib` directory and do a:
[code]
and then add `zsh-vi-mode` to the `zstyle ':prezto:load' pmodule` bit of `~/.zprestorc`.

That should work...

[2021-08-06 05:40] #116 closed

[2021-08-12 08:03] cathaysia commented on #114
This issuse can be fixed by zinit's [turbo mode](https://github.com/zdharma/zinit#turbo-and-lucid). Here is a way to fix this: https://github.com/zdharma/history-search-multi-word/issues/19#issuecomment-897427291

[2021-08-18 17:05] gregorriegler commented on #5
also something maybe related:
when I'm i normal mode, and I paste using ctrl+shift+v it filters all "g" characters from the string I pasted.
And if it contained a double "gg" it would only leave one "g"

[2021-08-19 02:14] jeffreytse commented on #5
Hi @gregorriegler

The issue you mentioned, I can not reproduce in my environment, could you tell me more details about it?

Thanks and Regards

[2021-08-19 06:40] gregorriegler commented on #5
Ubuntu 20.04.2 LTS x86_64 with i3
Kernel: 5.4.0-81-generic
Shell: zsh 5.8 (x86_64-ubuntu-linux-gnu)
Terminal: x-terminal-emul

Reproducable with a zshrc with just zsh-vi-mode installed

[2021-08-20 12:05] gregorriegler commented on #5
I should add: happens in alacritty as well as in gnome-terminal

[2021-08-20 12:57] jeffreytse commented on #5
@gregorriegler  Thanks for your useful information.

[2021-08-21 11:43] gregorriegler commented on #5
I am now on an ArcoLinux Distribution
Kernel: 5.13.12-arch1-1
Shell: zsh 5.8
Terminal: alacritty
and I am able to reproduce this Issue I had on Ubuntu with the filtered out g's

[2021-08-21 12:11] jeffreytse commented on #5
@gregorriegler Than you! I will reply here if I get progress on it.

[2021-08-28 17:12] yihengwuKP opened #119 "zsh raise parse error when installed in cluster"
## General information

- Terminal program: xterm, tmux
- Operating system: Scientific Linux release 7.4 (Nitrogen)
- ZSH framework: oh-my-zsh
- ZSH version: 5.0.2 (x86_64-redhat-linux-gnu)
- ZVM version: 0.8.4 (most updated github version)

## Basic examination

- [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [x] I have the latest version of zsh-vi-mode
-

[2021-08-29 07:41] jeffreytse commented on #119
Hi @yihengwuKP

Thanks for your reporting, as you said, I also think it could be the issue of the old version of ZSH, could you update your ZSH and try again?

Thanks and Regards

[2021-08-29 16:03] yihengwuKP commented on #119
Hi @jeffreytse, I am trying to update the zsh in the cluster, however since I don't have root access, it's a bit tricky. Right now I downloaded zsh-5.8 and build from source in my home directory. But naively `/home/myname/bin/zsh` and `source ~/.zshrc ` didn't work for the plugin, like nothing happens. Do you know how to easily test if this zsh-5.8 is compatible with your plugin or not, without se

[2021-08-30 02:20] jeffreytse commented on #119
Hi @yihengwuKP, I use `5.8` currently, and it works perfectly, `5.0.2` was released on 2012. I will try to test the compatibility on `5.0.2`, thanks for your information.

[2021-08-30 04:52] jeffreytse commented on #119
@yihengwuKP According to my checking, your zsh version should be `>=5.1.0`.

[2021-08-30 14:21] yihengwuKP commented on #119
Hi @jeffreytse Thank you for your checking! I'll contact IT service to see if I can have an updated zsh on cluster! Feel free to close this if you wish

[2021-08-30 14:24] jeffreytse commented on #119
@yihengwuKP, you're welcome, I'm waiting for your updating.

[2021-08-31 18:32] yihengwuKP commented on #119
Hi @jeffreytse I obtained zsh-5.8 in my home directory, and once that's loaded all the problems are solved! Thank you for your help along this! (Just note here for other people experiencing the same issue, you could download and build zsh following this [procedure](https://stackoverflow.com/questions/15293406/install-zsh-without-root-access/15293565), and the loading process could be as simple as,

[2021-09-01 01:14] stutterrrrer opened #120 "Normal mode in IntelliJ terminal hides characters"
Using the terminal emulator by IntelliJ.
Whenever I enter normal mode to navigate, all the characters that had the block cursor fallen on them would be hidden,
and only when I press ⇧A to enter insert mode will the characters re-appear.

## Basic examination

- [ x ] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [ x ] I have the latest version of zsh-vi-mode
-

[2021-09-01 02:23] jeffreytse commented on #119
HI @yihengwuKP I am very happy to hear that you have successfully solved this problem and shared the solution. Hope you have a good day!

[2021-09-01 06:26] jeffreytse commented on #120
Hi @stutterrrrer

Thanks for your reporting. I will work on this issue as soon as possible.

Thanks and Regards

[2021-09-01 06:29] stutterrrrer commented on #120
Of course man, take your time;
I wasn’t even sure if this issue falls within your jurisdiction
nor was I expecting you to come back to me so soon;
gonna take this opportunity and say thanks for this wonderful plugin!

[2021-09-01 07:48] jeffreytse opened #121 "The cursor color isn't restored to default after enter into another program like vim"
## General information

Please report the following information as possible as you can:

- Terminal program: Xfce 4.16
- Operating system: Manjaro Linux 5.4.105-1
- ZSH framework: oh-my-zsh, zinit
- ZSH version: 5.8
- ZVM version: 0.8.4 (8419488112dc861594c0301dabeb05d2ce0e1be1)

## Basic examination

- [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [x] I ha

[2021-09-02 05:18] #121 closed

[2021-09-02 05:24] jeffreytse commented on #120
Hi @stutterrrrer

Thanks for your patience, now this issue has been addressed and fixed. Please update to the latest version and try again.

Thanks and Regards

[2021-09-02 05:27] #119 closed

[2021-09-02 06:14] stutterrrrer commented on #120
Hi, thanks for the speedy response!
but I’m a newbie to the whole programming thing… How do I find the updated version to download?
I installed ZVM from Homebrew, and it’s not showing that any plugins are in need of update..
sorry if this is a dumb question

[2021-09-02 06:24] jeffreytse commented on #120
Hi, you can follow the instructions on [manual installation](https://github.com/jeffreytse/zsh-vi-mode#manually), use `git` to clone this repository.

[2021-09-02 07:00] stutterrrrer commented on #120
Done that, it’s fixed! thanks so much.
While I have you here, I also want to map ‘v’ to escape visual mode, just like how ‘v’ in visual mode behaves in vim.
but it doesn’t seem to work;
I’ve modified line 3307 to ” zvm_bindkey visual ‘e’ zvm_vi_edit_command_line “ so that ‘v’ won’t be used to open vim,
and changed line 56 to “ZVM_VI_VISUAL_ESCAPE_BINDKEY=v”

‘e’ key works as expected and opens vim

[2021-09-02 07:55] jeffreytse commented on #120
Hi @stutterrrrer currently you can not use `v` to escape out from Visual mode, however, you can use `V` to escape out from Visual Line mode,
you can use `Ctrl-[` alternatively. Welcome to star this project for further updates in the future.

[2021-09-02 08:34] stutterrrrer commented on #120
understood. Thanks for all your hard work!
I’ll close the issue now

[2021-09-02 08:35] jeffreytse commented on #120
@stutterrrrer You're welcome, hope you have a good day! : )

[2021-09-02 08:58] stutterrrrer commented on #120
Hi @jeffreytse , sorry to bother you again,
but on my end it seems the bug is fixed for the terminal,
but when I open up tmux, the issue persists…
I’ve included a screen recording here:

https://user-images.githubusercontent.com/38461291/131814885-9f4ad530-e398-4154-b8b9-fbbbc0fd62c8.mov

[2021-09-05 07:37] jeffreytse commented on #120
Hi @stutterrrrer

This issue has been addressed and settled down, please update your plugin to the latest version, and try again.

Thanks and Regards

[2021-09-06 04:10] stutterrrrer commented on #120
Got it!  Thanks so much.

[2021-09-06 04:10] #120 closed

[2021-09-07 16:23] anuvyklack opened #122 "Broken zsh completion menu"
## General information

- Operating system: Pop!_OS 21.04
- ZSH framework: none
- ZSH version: 5.8-6
- ZVM version: 82f00eaefc95165f4524e77312db0d216a64a7ad

## Basic examination

- [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [x] I have the latest version of zsh-vi-mode
- [x] I have tested with another terminal program: kitty, gnome-terminal, tilix

## Pr

[2021-09-08 03:54] jeffreytse commented on #122
Hi @anuvyklack

Thanks for your reporting. I will work on this issue as soon as possible.

Thanks and Regards

[2021-09-08 10:22] jeffreytse commented on #122
Hi @anuvyklack

Could you please try this version 1549325615a5da5ec570289dfa08687cece1c5f6, and feedback me the result?

Thanks and Regards

[2021-09-08 10:41] anuvyklack commented on #122
1549325 works fine.

[2021-09-08 10:46] jeffreytse commented on #122
@anuvyklack Could you please provide me the information by command `echo $TERM`

[2021-09-08 12:39] anuvyklack commented on #122
`tmux-256color`

[2021-09-09 02:32] jeffreytse commented on #122
@anuvyklack Could you please provide me your source file (e.g. `.zshrc`) to have further check?

[2021-09-13 22:08] EdwarDu opened #123 "extra letter q sometimes is appended to command after execution"
## General information
After press enter and command executes, and a letter q is appended after the command.
It does not affect the execution of the command, but introduces inconveniences if to copy command history.

## Basic examination

- [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [x] I have the latest version of zsh-vi-mode
- [x] I have tested with an

[2021-09-14 07:50] jeffreytse commented on #123
Hi @EdwarDu

Thanks for your reporting, could you please check with below configuration?

[code]

Thanks and Regards

[2021-09-14 08:30] EdwarDu commented on #123
Hi @jeffreytse Thank you for the reply.
It didn't help, and I tried to disable other plugins and kept only ZVM, it is the same.
If you need extra diagnosis data, please do let me know.

[2021-09-14 08:41] EdwarDu commented on #123
As I temporarily switch to vi-mode, with vi-mode if I set VI_MODE_SET_CURSOR=true , the same thing happens, hopefully this is somehow useful.

[2021-09-14 08:46] jeffreytse commented on #123
Hi @EdwarDu

Could you please tell me some environment information (e.g. Terminal, System, Zsh version...)?

Thanks and Regards

[2021-09-14 08:50] EdwarDu commented on #123
Terminal : konsole
System: Centos 7
Zsh: 5.8 with OMZ

It seems the sequence for changing cursor shape is messed up (maybe by my custom theme), I am checking now.

[2021-09-14 09:03] jeffreytse commented on #123
@EdwarDu I think it should be something wrong in your configuration, I also check with `konsole` and it works well. Could you provide me your `.zshrc` to have a further check?

[2021-09-14 09:08] EdwarDu commented on #123
it might be I have an quite old version of konsole

Qt: 4.8.7
KDE Development Platform: 4.14.8
Konsole: 2.10.5

[code]

[2021-09-14 09:14] jeffreytse commented on #123
@EdwarDu My konsole version is `21.08.1`. Welcome to star this project for further updates in the future. : )

![2021-09-14_17-13](https://user-images.githubusercontent.com/9413601/133230457-001d4443-c994-4a38-a389-48e865b0f76a.png)

[2021-09-14 09:31] EdwarDu commented on #123
:D, I'm limited by the company setup, so I'm not able to update konsole version, so probably it is just compatibility issue, I will seek to work around this, either build newer version or switch to vi-mode.
Thank you for the help, I'm closing this now.

[2021-09-14 09:31] #123 closed

[2021-09-14 09:47] jeffreytse commented on #123
@EdwarDu One solution is to disable the cursor style feature, so it will not apply the cursor style sequences, but failed in your environment, I think you can try one more time. And I will try to improve the compatibility as soon as possible, thanks for your reaching out.

[2021-09-14 10:15] EdwarDu commented on #123
@jeffreytse Thank you. I changed to mate terminal for now (which does not have the compatibility issue).

[2021-09-14 10:18] jeffreytse commented on #123
@EdwarDu You're welcome, hope you have a good day! : )

[2021-09-19 02:11] stutterrrrer commented on #81
Hi, can I tag on this and ask about copying to system clipboard? is there a way to do that in normal mode?

[2021-09-19 02:17] stutterrrrer commented on #98
Hi, could you let me know how to change the status prompt to the clear colorful look in your screen capture?
I didn’t seem to find it in README or after some searching in zsh-vi-mode.zsh

[2021-09-19 03:31] jeffreytse commented on #81
Hi @stutterrrrer , please refer to issue #19.

[2021-09-19 05:09] jeffreytse commented on #98
@stutterrrrer  You should check how to change prompt of your theme, the screenshot is a demo from a custom theme. You can refer to [here](https://github.com/jeffreytse/zsh-vi-mode#vi-mode-indicator), this plugin provides you some aspects to change your prompt of your theme on vi mode changed.

[2021-09-20 18:57] StefanBoca commented on #122
@jeffreytse I also had this issue. Reverting to 1549325 fixed it, and I managed to trace it down to the following changes:
[code]

Reverting this change fixed the issue for me.

[2021-09-21 06:05] jeffreytse commented on #122
@StefanBoca Thanks for your reaching out, I have confirmed the reason of this issue, but I am still exploring a good way to fix this issue, at the same time, keep the compatibility of the terminal in IntelliJ IDE. Could you provide me a minimum `.zshrc` file which can reproduce this issue to have a further check? Thanks and Regards

[2021-09-21 13:11] mskar commented on #20
Hi @jeffreytse, I tried setting `ZVM_CURSOR_STYLE_ENABLED` to `false`, as described in the [README](https://github.com/jeffreytse/zsh-vi-mode#configuration-function) but the cursor always remains block shaped.
I tried it both inside and outside the [configuration function](https://github.com/jeffreytse/zsh-vi-mode#configuration-function).
It seems like zsh-vi-mode is still overriding the cursor st

[2021-09-21 16:11] jeffreytse opened #124 "Prompt got eaten and move up a line on certain actions"
## General information

Please report the following information as possible as you can:

- Terminal program: Xfce 4.16
- Operating system: Manjaro Linux 5.4.105-1
- ZSH framework: oh-my-zsh, zinit
- ZSH version: 5.8
- ZVM version: 0.8.4 (258eff7b16f9232bb99323aad019969cf94601c5)

## Basic examination

- [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [x] I ha

[2021-09-21 17:19] jeffreytse commented on #124
This issue is introduced by 1549325615a5da5ec570289dfa08687cece1c5f6 and c1480b4a96dfe9ff5ca28f482a7417db25bdd797.

[2021-09-21 18:00] ecbaldwin commented on #124
I've updated to the latest version and it does fix the issue in almost every case. I still see it occasionally on a fresh terminal if <esc>S is the first thing I do bit I might have to give it some time to see exactly what actions lead to it still occurring.

For now, this seems like a big improvement and is enough to get me to switch from `softmoth/zsh-vim-mode`

[2021-09-21 20:41] ecbaldwin opened #125 "Delete to the beginning of the line doesn't work"
## General information

## Basic examination

- [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [x] I have the latest version of zsh-vi-mode
- [ ] I have tested with another terminal program

## Problem description

I was trying to delete from the cursor to the beginning of the line in normal mode. I tried two methods:

1. `d0` should delete from the characte

[2021-09-22 07:02] jeffreytse commented on #20
Hi @mskar

Once you disable the cursor style feature, the cursor style will follow your default settings of your terminal emulator, and this plugin will not apply any styles to the terminal emulator, for most of the terminal emulators, block shape is default.

Thanks and Regards

[2021-09-22 14:30] jeffreytse commented on #125
Hi @ecbaldwin

Thanks for your reporting, I will work on this issue as soon as possible.

Thanks and Regards

[2021-09-23 06:34] jeffreytse commented on #124
@trmckay Thanks! Could you provide me some more details of your environment? Such as ZSH framework, theme and so on.

[2021-09-23 13:24] trmckay commented on #124
@jeffreytse Of course, here is my `zshrc`. In short, I am using `zplug` with a few plugins and the `starship` prompt.

[code]

I've also since found that the issue only occurs with the `starship` prompt.

[2021-09-23 14:04] jeffreytse commented on #124
@trmckay You mean that this issue will disappear without the `starship`?

[2021-09-23 14:07] trmckay commented on #124
@jeffreytse Yeah. I looked through their issues and couldn't find anything relevant. I think maybe this is specific to multiline prompts, not `starship` itself. But, I can do more testing later.

[2021-09-23 14:11] jeffreytse commented on #124
@trmckay Thank you for your kindly testing, once you got any progress, you are welcome to touch me. : )

[2021-09-24 04:37] imSafdarAwan opened #126 "changes the starship prompt icon to default icon"
i have changed the starship icon to this icon but vim-mode plugin changes it to default one
![image](https://user-images.githubusercontent.com/87114084/134618903-5e516bfd-d41a-4006-b7ad-0b2f41c61541.png)

like this

![image](https://user-images.githubusercontent.com/87114084/134618993-74050190-a0c9-423d-b4b6-172bc1de14e5.png)

[2021-09-24 04:40] jeffreytse commented on #126
Hi @imSafdarAwan

Thanks for your reporting. Could you provide me your `starship.toml`?

Thanks and Regards

[2021-09-24 04:41] imSafdarAwan commented on #126
# Timeout for starship to scan files (in milliseconds).
scan_timeout = 10

# Timeout for commands executed by starship (in milliseconds).
command_timeout = 500

# Disable the blank line at the start of the prompt
add_newline = true

# TODO figure out how to create a function that will create a new line
# for the character only when there are three or more components are visible
# on the terminal

[2021-09-24 04:47] jeffreytse commented on #126
Hi @imSafdarAwan

According to your configuration, you don't configure your prompt on vi cmd mode, so when you press `ESC` to go to the vi cmd mode, it should be default, that is `"[❮](bold green)"`, please refer to [here](https://starship.rs/config/#character).

Thanks and Regards

[2021-09-25 09:47] cridemichel opened #127 "zsh-vi-mode overwrites keybindings of oh-my-zsh plugins"
## General information

## Basic examination

- [X] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [X] I have the latest version of zsh-vi-mode
- [X] I have tested with another terminal program

## Problem description
zsh-vi-mode overwrites key bindings of oh-my-zsh plugins, such as fancy-ctrl-z

## Reproduction steps

1. install oh-my-zsh
2. enable fancy-ctrl-z

[2021-09-25 17:58] jeffreytse commented on #127
Hi @cridemichel

Thanks for your reporting, and I will work on this as soon as possible.

Thanks and Regards

[2021-09-25 19:56] cridemichel commented on #127
thank you for your prompt reply!

Cristiano De Michele
***@***.***

[2021-09-27 17:42] trmckay commented on #124
@jeffreytse some info for you. This issue is now specific to `starship` and affects multi- and single-line prompts. There are no issues being tracked in [the `starship` repo](https://github.com/starship/starship/issues). Let me know if I can help you solve this.

[2021-09-28 08:00] jeffreytse commented on #124
Hi @trmckay

Thanks for your following up, could you provide me a minimum `.zshrc` file which can reproduce the issue in your environment? I will try to settle with your minimum `.zshrc` file.

Thanks and Regards

[2021-09-28 17:04] jeffreytse commented on #127
Hi @cridemichel

I have tested the `fancy-ctrl-z` plugin, but it works normally. Could you provide me some more details?

Thanks and Regards

[2021-09-28 23:10] trmckay commented on #124
@jeffreytse with `starship`, `tmux`, and `zplug` installed:

[code]

[2021-09-29 06:53] cridemichel commented on #127
Hi,
with this minimalist .zshrc file:
setopt HIST_FIND_NO_DUPS
export PATH="/usr/local/opt/apr/bin:$PATH"
export PATH="/usr/local/bin:/usr/local/sbin:$PATH"
export ZSH="/Users/demichel/.oh-my-zsh"
ZSH_THEME="agnoster"
DISABLE_MAGIC_FUNCTIONS=true
ENABLE_CORRECTION="true"
plugins=(zsh-vi-mode fancy-ctrl-z)
source $ZSH/oh-my-zsh.sh
ZVM_INSERT_MODE_CURSOR=$ZVM_CURSOR_BLOCK
ZVM_VI_SURROUND_BINDKEY="cl

[2021-09-29 07:24] cridemichel commented on #127
❯ bindkey -M viins | grep "\^Z"
"^Z" fancy-ctrl-z

[2021-09-29 07:27] cridemichel commented on #127
this is with zsh-vi-mode plugin loaded:
❯ bindkey -M viins | grep "\^Z"
"^Z" self-insert
otherwise I get:
❯ bindkey -M viins | grep "\^Z"
"^Z" fancy-ctrl-z

[2021-09-29 11:52] jeffreytse commented on #127
@cridemichel Now you have one solution to settle this issue, try the below code snippet:

[code]

I will take a further consideration on this issue except this solution.

[2021-09-29 16:43] tymcauley commented on #124
I have also noticed this same behavior in the following environment:

- Terminal program: kitty 0.23.1
- Operating system: macOS 11.6
- ZSH framework: N/A
- ZSH version: 5.8
- ZVM version: 1a7ade5

For me, the critical ingredients appear to be the following:

- This only happens inside of a tmux session (using an empty `.tmux.conf` file works for reproducing)
- A multiline prompt is required (I us

[2021-09-30 02:35] jeffreytse commented on #124
Hi @trmckay @tymcauley

Thanks for the helpful information, once I get progress, I will let you know. : )

Thanks and Regards

[2021-09-30 02:46] jeffreytse commented on #126
Hi @imSafdarAwan

Has this issue been settled down? Don't hesitate to let me know.

Thanks and Regards

[2021-10-03 20:05] slacksystem commented on #124
I'm having this issue too with oh-my-zsh with several plugins enabled, and zsh-vi-mode. Happens only in tmux, and only with multiline prompt. It also happens when using tab completion

[2021-10-04 11:26] jeffreytse commented on #122
Hi @StefanBoca

Thanks for your patience, now this issue has been addressed and fixed. Please update your plugin to the latest version and try again.

Thanks and Regards

[2021-10-10 02:12] jerome-diver opened #128 "no state mode in prompt line with oh-my-zsh and powerlevel10k"
## General information

## Basic examination
tty from ssh access on FeeBSD-12.2
zsh used with Oh-my-zsh and antigen (installed from freebsd packages)
zsh-5.8
add to oh-my-zsh as indicated (and also before from antigen pugin) with git cone inside ZSH_CUSTOM (plugins recognized by ohmyzsh)

- [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [x] I have the latest

[2021-10-10 07:37] jeffreytse commented on #128
Hi @jerome-diver

Thanks for the issue, actually, the vi mode state should be supported by your theme, but this plugin has also provided several aspects for you to configure your custom prompt of vi mode state, you can refer to [here](https://github.com/jeffreytse/zsh-vi-mode#vi-mode-indicator).

Here are some examples for you:

- [gkapfham/dotfiles](https://github.com/gkapfham/dotfiles/blob/63853

[2021-10-10 14:22] jerome-diver commented on #128
Hi @jeffreytse and thank you for your help.
Actualy, i read amll examples and i can not figure how to config my .p10k file to get a __segment__ to show a zsh-vim-mode event status change.
the configuration is inside powerlvele10k zsh file and there is a "example" segment able to print a segment (but this one only operate at prompt build time, then after to RETURN a command.
I try to use the event

[2021-10-11 14:04] Mrngilles opened #129 "Command edition in Editor not working on MacOS if noclobber option is set"
I've been trying to understand exactly why my edition in editor was not working anymore on mac, and after investigation, I did find out that since I have the option `noclobber` in my rcfile, the following line was actually trying to override an existing file:

https://github.com/jeffreytse/zsh-vi-mode/blob/63e5a5209b238771e528dd22d2ac1a317ace7319/zsh-vi-mode.zsh#L1751

I think this behaviour is Ma

[2021-10-13 05:09] jerome-diver commented on #128
@jeffreytse thank you

[2021-10-14 11:12] okhsunrog opened #130 "Cursor not changing in foot terminal when switching modes"
## General information

Terminal program: foot
https://codeberg.org/dnkl/foot
OS: Arch Linux
Plugin was installed using Oh-My-ZSH method from readme
zsh framework: oh-my-zsh
zsh version: 5.8
zsh-vi-mode version: 0.8.4

## Problem description

The cursor is not changing when I switch from normal to insert modes.
Expected behavior: cursor looks like vertical line in insert mode. It always look like

[2021-10-14 11:17] jeffreytse commented on #130
@okhsunrog Could you provide me the value of command `echo $TERM` in your foot term.

[2021-10-14 11:25] okhsunrog commented on #130
@jeffreytse the value of $TERM is foot, as I mentioned in the issue

[2021-10-14 11:39] jeffreytse commented on #130
@okhsunrog Currently the term `foot` isn't supported by `zsh-vi-mode`, this plugin will check if your terminal supports for the cursor feature by environment variable `$ZVM_TERM` (Its default value equals to $TERM).

[2021-10-14 12:10] okhsunrog commented on #130
I did this as a workaround. Will you add support for foot in the next release?

[2021-10-15 15:29] Mrngilles commented on #129
works, thanks a lot

[2021-10-15 15:29] #129 closed

[2021-10-15 20:30] haberdashPI commented on #24
Hi @jeffreytse: the plugin is working well for me, I haven't had issues since implementing the fix.

[2021-10-18 23:00] dm9pZCAq opened #131 "add ability to set custom `ZVM_CURSOR_USER_DEFAULT`"
## General information

- Terminal program: st 0.8.4
- ZSH version: 5.8
- ZVM version: 0.8.4

## Basic examination

- [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [x] I have the latest version of zsh-vi-mode
- [x] I have tested with another terminal program

## Problem description

i heve "default" cursor set to be a "beam"
for `st` in `config.h`:
[code]
s

[2021-10-20 08:34] tdltdc opened #133 "Home and End keys activate normal mode"
## General information

- Terminal program: alacritty 0.9.0 (fed349aaa)
- Operating system: Linux arch 5.14.12-arch1-1 <span>#</span>1 SMP PREEMPT Wed, 13 Oct 2021 16:58:16 +0000 x86_64 GNU/Linux
- ZSH framework: none, but `grml-zsh-config` installed
- ZSH version: zsh 5.8 (x86_64-pc-linux-gnu)
- ZVM version: zsh-vi-mode-git-0.8.4.r19.g0c6f34a

## Basic examination

- [x] I have read through the [

[2021-10-20 08:57] tdltdc opened #134 "Set default keybindings for Home and End keys"
## General information

- Terminal program: alacritty 0.9.0 (fed349aaa)
- Operating system: Linux arch 5.14.12-arch1-1 <span>#</span>1 SMP PREEMPT Wed, 13 Oct 2021 16:58:16 +0000 x86_64 GNU/Linux
- ZSH framework: none, but `grml-zsh-config` installed
- ZSH version: zsh 5.8 (x86_64-pc-linux-gnu)
- ZVM version: zsh-vi-mode-git-0.8.4.r19.g0c6f34a

## Basic examination

- [x] I have read through the [

[2021-10-21 10:51] avorima opened #135 "Incremental history preview"
## General information

- alacritty 0.9.0 (fed349aa)
- linux 5.14.12-arch1-1
- zsh 5.8 (without framework)
- ZVM 0.8.4-1

## Basic examination

- [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [x] I have the latest version of zsh-vi-mode
- [ ] I have tested with another terminal program

## Problem description

`/` does not show results incrementally.

## Re

[2021-10-31 08:06] itsfarseen opened #136 "Two preceding line gets removed when using zsh-vi-mode with powerlevel10k inside tmux"
### Asciinema

https://asciinema.org/a/gxwaBQ4dmYTMnJ2gNgyGH0Q0L

### Steps to reproduce

* Install Oh My Zsh
* Install https://github.com/jeffreytse/zsh-vi-mode
* Install powerlevel10k
* Enable transient prompt.
* Open zsh inside tmux
* Go to insert mode and back to normal mode.

### Minimal repro

[code]

[2021-10-31 08:06] itsfarseen commented on #136
See also https://github.com/romkatv/powerlevel10k/issues/1618#issuecomment-955651678

[2021-10-31 08:52] jeffreytse commented on #136
Hi @itsfarseen

Thanks for your issue, currently I am busy, I will try to work on this issue as soon as possible.

Thanks and Regards

[2021-10-31 09:14] itsfarseen commented on #136
`sed -i.bak -E '/zle \.?reset-prompt/d' ~/.oh-my-zsh/custom/plugins/zsh-vi-mode/zsh-vi-mode.zsh`

Removing `zle reset-prompt` fixes the issue and doesn't seem to break anything.
Ref https://github.com/romkatv/powerlevel10k/issues/1618#issuecomment-955656371

[2021-10-31 10:26] jeffreytse commented on #136
Hi @itsfarseen

Actually, it will break the vi mode indicator when user custom their prompt by [the aspect](https://github.com/jeffreytse/zsh-vi-mode#vi-mode-indicator). Besides, there are several places will call `reset-prompt` to redraw the content.

Thanks and Regards

[2021-10-31 10:30] itsfarseen commented on #136
Ooh. For some reason, the current theme I use powerlevel10k, which has mode indicators, still works correctly.

![image](https://user-images.githubusercontent.com/40014472/139578337-4c1e190e-b915-4bf4-910c-542d16bb5907.png)

![image](https://user-images.githubusercontent.com/40014472/139578327-212ecefb-7948-4197-a0c9-5d8b3c1d640d.png)

I think this theme does the refresh automatically. Could you m

[2021-10-31 10:33] jeffreytse commented on #136
Hi @itsfarseen

Thanks for your information, I will take a further research on this issue, and look forward a best solution, once I got progress, I will let you know.

Thanks and Regards

[2021-10-31 10:43] jeffreytse commented on #136
This issue is related to #124.

[2021-11-01 21:07] Tummetott opened #137 "fzf keybindings not working with zsh-vi-mode"
## General information

- Terminal program: iTerm 3.4.11
- Operating system: MacOS 10.15.7 (Catalina)
- ZSH framework: zgen, oh-my-zsh
- ZSH version: 5.8
- ZVM version: latest

## Basic examination

- [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [x] I have the latest version of zsh-vi-mode
- [x] I have tested with another terminal program: Alacritty

## Pr

[2021-11-02 15:05] jeffreytse commented on #137
Hi @Tummetott

Please read issue #24

Thanks and Regards

[2021-11-04 10:28] Tummetott commented on #137
Oh i'm so sorry. I thought I checked the issues. Thanks a lot! This plugin is amazing. Just starred it!

[2021-11-04 10:28] #137 closed

[2021-11-04 10:38] jeffreytse commented on #137
@Tummetott You're welcome, hope you have a good day! : )

[2021-11-05 15:55] jeffreytse commented on #134
Related to #33

[2021-11-06 13:37] jeffreytse commented on #134
Hi @tdltdc

Now this default keybindings has been implemented, thanks for your patience. : )

Thanks and Regards

[2021-11-09 14:35] troyp commented on #136
The same thing happens with my custom prompt, so it probably affects all 2-line prompts

[2021-11-11 20:09] anuvyklack commented on #122
Hello, @jeffreytse.

I'm sorry, but for me still doesn't work. The same: all commits after c1480b4 are broken.

[2021-11-19 03:46] adrp opened #141 "Seach in the current line"
## General information

- Terminal program: QTerminal 0.16.1
- Operating system: Debian Bullseye
- ZSH framework: none
- ZSH version: 5.8
- ZVM version: ?

## Basic examination

- [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [x] I have the latest version of zsh-vi-mode
- [x] I have tested with another terminal program

## Problem description

I'm curious i

[2021-11-21 04:20] milesfrain opened #142 "[Feature Request] Support "block" text objects (e.g. `vib` 'caB`, etc.)"
It would be great if there was support for "block" selection objects. For example:
- `vib`: "select inner block" (between parens)
- `caB`: "change a Block" {including brackets}
- etc.

List of selection objects:
http://vimdoc.sourceforge.net/htmldoc/motion.html#object-select

Follow-up to https://github.com/jeffreytse/zsh-vi-mode/pull/140#issuecomment-970206861

[2021-11-21 09:02] jeffreytse commented on #141
Hi @adrp

Thanks for the delay, I'm happy that you commit this issue. Currently, I'm busy, but I will work on this feature in the future. You can star this project for further update in the future. Hope you have a good day! : )

Thanks and Regards

[2021-11-21 09:04] jeffreytse commented on #142
Hi @milesfrain

Thanks for the delay, I'm happy that you commit this issue. Currently, I'm busy, but I will work on this feature in the future. Hope you have a good day! : )

Thanks and Regards

[2021-11-22 05:35] awray3 commented on #136
I found that [this line](https://github.com/jeffreytse/zsh-vi-mode/blob/d287665d1df1d39d54dff46810ea8e76adbca657/zsh-vi-mode.zsh#L2926) contains a reset prompt command that happens every time  `zvm_select_vi_mode()` is called, which when commented out (mostly) resolved the issue of the last line getting erased in tmux for me. I don't know if this will break other things or work for other people, b

[2021-11-22 22:12] kevintraver opened #144 "Feature Request: Set Cursor Position in editor"
It would be really helpful to set the cursor position after opening the current command in the editor.

Probably could be something similar to *zsh edit-command-line*

https://github.com/zsh-users/zsh/blob/138f5bf144589a59ef009f26332652291cd0a944/Functions/Zle/edit-command-line#L45

[2021-11-23 14:49] jeffreytse commented on #144
Hi @kevintraver

Thanks for the commit. Currently, I'm busy, but I will work on this feature as soon as possible.

Hope you have a good day! : )

Thanks and Regards

[2021-11-29 20:28] redpublic commented on #135
How can you iterate over multiple matching results in case of `/` search? In case with `CTRL-r` search you can do:
- `CTRL-r`
- enter search term
- `CTRL-r` to iterate over matching results.

It seems it could be related how the fix should be implemented.

Btw, do you need a hand with the fix?

[2021-11-29 20:57] redpublic opened #145 "Custom escape keys breaks CTRL-r history search"
## General information
Custom escape keys breaks `CTRL-r` history search.

- Terminal program: iTerm2 3.4.12
- Operating system: macOS Big Sur 11.6
- ZSH framework: oh-my-zsh
- ZSH version: 5.8
- ZVM version: last master

## Basic examination

- [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [x] I have the latest version of zsh-vi-mode
- [ ] I have tested wi

[2021-12-01 19:12] mskar commented on #20
Hi @jeffreytse,
I took a look at this again and realized that I was missing the `zvm_config` function.
I installed zsh-vi-mode via homebrew and added the section below to my `.zshrc`.

[code]

[2021-12-01 20:28] yuannan opened #148 "History search not working as before/intended"
## General information

## Basic examination

- [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [x] I have the latest version of zsh-vi-mode
- [x] I have tested with another terminal program

## Problem description

Searching using arrow keys no longer works.
The binds from "bindkey" do not differ for "^[[A" and "^[[B" which confuses me.

As per: https://gith

[2021-12-07 22:15] rzksobhy78 opened #149 "How to map ctrl-c to go to quit insert mode"
how can I use ctrl+c to quit insert mode and go to normal mode

[2021-12-08 05:15] jeffreytse commented on #149
Hi @rzksobhy78

For custom escape vi mode, please [see this section](https://github.com/jeffreytse/zsh-vi-mode#custom-escape-key).

Thanks and Regards

[2021-12-08 15:59] rzksobhy78 commented on #149
that doesn't work I tried
ZVM_VI_INSERT_ESCAPE_BINDKEY=^c
bindkey -M viins '^c' vi-cmd-mode

[2021-12-14 10:21] HaleTom opened #150 "Comparision to softmoth/zsh-vim-mode"
Can you please say how this plugin compares to [softmoth/zsh-vim-mode](https://github.com/softmoth/zsh-vim-mode)?

Why did you create this plugin given a similar one already existed?

Which features are added/missing in this plugin?  What about meta-features like quality, speed, etc?

[Not following the template as this is a meta-issue, bit I did read the README]

[2021-12-19 09:15] meicale opened #151 "zvm plugin cannot work with zsh git plugin, and cannot source the .zshrc file."
## General information

## Basic examination
zvm plugin cannot work with zsh git plugin, and cannot source the .zshrc file.

- [ ] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [ ] I have the latest version of zsh-vi-mode
- [ ] I have tested with another terminal program

## Problem description
Everytime I source the .zshrc in my home dir, this ZVM plugin stop

[2021-12-20 15:26] SirZenith commented on #150
As my personal experience after using both of these plugins for couple of days. I think the plugin here is better than softmoth's one. softmoth's vi mode plugin is a bit laggy on my machine. But jeffreytse's one work smoothly out of the box, even when running in termux on my Android phone.

[2021-12-21 16:12] jeffreytse commented on #150
Hi @HaleTom, thank you for your issue, and this issue is the same as #98 : )

[2021-12-21 16:13] jeffreytse commented on #150
Hi @SirZenith thanks for sharing your experience on using this plugin. Hope you have a good day! : )

[2021-12-22 11:53] DiogoDoreto commented on #151
I had the same issue and solved it by loading `zsh-vi-mode` before the conflicting plugins

[2021-12-22 17:14] zhyu commented on #11
I'm having the same issue.

Before using `zsh-vi-mode`, I was using the `vi-mode` plugin of oh-my-zsh, which has a [VI_MODE_RESET_PROMPT_ON_MODE_CHANGE](https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/vi-mode#settings) option solves this issue. I wonder can we do something similar here?

[2021-12-23 12:59] czaplicki opened #152 "Initial insert mode bindings not loaded"
## General information

- Terminal program: alacritty
- Operating system: Arch (5.15.10-zen1-1-zen)
- ZSH framework: antigen
- ZSH version: zsh 5.8 (x86_64-pc-linux-gnu)
- ZVM version: latest

## Basic examination

- [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [x] I have the latest version of zsh-vi-mode
- [x] I have tested with another terminal program (

[2021-12-23 21:35] czaplicki commented on #152
Did not realize the difference between :
'zvm_after_init'
'zvm_after_init_commands'

Completely new to zsh so don't know if this structure is a zsh thing or not,
if it ain't, maybe try to emphasize structure some more in the readme file?

Anyways, sorry if I wasted your time, And thanks for an amazing plugin!

[2021-12-23 21:35] #152 closed

[2021-12-26 17:55] xulongwu4 opened #153 "The value of `%_` in `PS2` is not correct when `zsh-vi-mode` is loaded"
## General information

## Basic examination

- [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [x] I have the latest version of zsh-vi-mode
- [x] I have tested with another terminal program

## Problem description

The `PS2` prompt does not show up properly after loading `zsh-vi-mode`.

## Reproduction steps

A minimum .zshrc to reproduce the problem

[code]

[2021-12-26 23:11] xulongwu4 opened #154 "Interference between zsh-vi-mode and zsh-syntax-highlighting"
## General information

## Basic examination

- [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [x] I have the latest version of zsh-vi-mode
- [x] I have tested with another terminal program

## Problem description

`zsh-vi-mode` seems to alter the behavior of `zsh-syntax-highlighting`, and its impact depends on whether `zsh-vi-mode` is sourced before or afte

[2021-12-30 14:01] quantmint commented on #130
Exactly the same happens for me.

[2021-12-30 15:38] jeffreytse commented on #153
Hi @xulongwu4

I don't have this issue in my environment.

![image](https://user-images.githubusercontent.com/9413601/147766108-3bbc0645-845f-4fdd-9956-6774213bb73a.png)

Could you please provide your zsh version and terminal information?

Thanks and Regards

[2021-12-30 19:11] xulongwu4 commented on #153
@jeffreytse Thanks for taking a look at it. My zsh version is 5.8.0. I tried gnome-terminal and alacritty, and both of them have this problem.

By the way, the value of `%_` does not seem correct in your screenshot as well? I would expect the value of `%_` be `for` in your case, but it turns out to be `then`. I am wondering if your prompt plugin could affect the test results there.

[2022-01-01 12:14] edshamis opened #156 "Emacs readline key bindings in insert mode"
I can see some emacs readline key bindings are supported in insert mode (e.g. <C-w>) and some are not (e.g. <M-f>)
Have found no info about it in README. Can you please clarify about emacs readline key bindings?

[2022-01-10 19:09] tormodatt commented on #19
similarly for macOS:
[code]
(printf also works)

[2022-01-11 04:53] jeffreytse commented on #19
@tormodatt Thanks for your tips. Hope you have a good day! : )

[2022-01-13 13:36] brainwo opened #158 "Move through wrapped lines using `gj` and `gk`"
## Basic examination

- [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [x] I have the latest version of zsh-vi-mode
- [x] I have tested with another terminal program (UXTerm, kitty)

## Problem description

Can't get `gj` and `gk` to work

## Reproduction steps

1. Having a long one line command wrapped into next line
2. Try to move up using `gk` in normal m

[2022-01-16 02:37] jeffreytse commented on #154
Hi @xulongwu4

Thanks for your issue, and sorry for the late reply, currently I'm quite busy, I will research your issue when I am possible. Hope you have a good day! : )

Thanks and Regards

[2022-01-16 02:39] jeffreytse commented on #151
Hi @meicale

Thanks for your issue, and sorry for the late reply, currently I'm quite busy, I will research your issue when I am possible. Hope you have a good day! : )

Thanks and Regards

[2022-01-16 02:42] jeffreytse commented on #156
Hi @edshamis

Thanks for your issue, and sorry for the late reply, currently I'm quite busy, you're welcome to contribute to the document if you want. Hope you have a good day! : )

Thanks and Regards

[2022-01-16 02:43] jeffreytse commented on #153
Hi @xulongwu4

Thanks for your issue, and sorry for the late reply, currently I'm quite busy, I will research your issue when I am possible. Hope you have a good day! : )

Thanks and Regards

[2022-01-21 03:45] klmanion opened #159 "zvm_cursor_style errors out every return"
## General information

- konsole 21.08.1
        - and, xterm-370
- FreeBSD 13.0-RELEASE-p3
- zinit
- zsh 5.8
- zvm 0.8.5

## Problem description

zvm_cursor_style:33: failed to compile regex: trailing backslash (\)

## Reproduction steps

1. source  attached zshrc
2. will occur after hitting return (but not before, i.e. not right when terminal loads)

## Expected behavior

error shown in prob. d

[2022-01-22 12:34] sasha-glv opened #160 "Color retention of character block when deleting characters in visual mode"
## General information

## Basic examination

- [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [x] I have the latest version of zsh-vi-mode
- [x] I have tested with another terminal program

## Problem description

Single visual selection character block retains visual selection colour.
After the issue appears, the coloured block stays in the line regardless

[2022-01-25 05:45] tmmgeekette commented on #124
I just spent 2 days trying to fix this problem. I didn't realize there was a bug report on it.

This is happening for me on macos. I've got. Zsh, starship, vi mode.   It happens  after I hit ESC to go into vi command mode.  The first key I type in command mode (no matter what it is) the prompt eats 2 lines above it.

https://www.reddit.com/r/terminal_porn/comments/s9rtfq/annoying_problem_with_star

[2022-01-25 17:03] tmmgeekette commented on #124
Fixed my problem 3 different ways.

#1 deleting zle-keymap-select widget altogether solves this for me.

#2 sticking the following into my .zshrc , also solves the problem.

[code]

#3  And lastly, I discovered I was initializing starship twice in my .zshrc.  Removing one of the two init lines fixes it as well.

[2022-01-27 12:06] haifengkao opened #161 "Unexpected behavior of `cw`"
## General information

Please report the following information as possible as you can:

- Terminal program: iTerm 3.4.15
- Operating system: macOS 12.1
- ZSH framework: zinit
- ZSH version: zsh 5.8 (x86_64-apple-darwin21.0)

## Basic examination

-  [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [x] I have the latest version of zsh-vi-mode
- [x] I have test

[2022-01-28 01:04] julianKatz commented on #124
I am also experiencing this bug, but I'm running this as my theme:

[code]

I'm also running on tmux.  This tmux is running on a linux machine which I've connected to over ssh from a mac.

[code]

[2022-01-29 09:27] hissssst opened #162 ""maximum nested function level reached" when with minimal prompt plugin"
## General information

- Terminal program: alacritty 0.9.0
- Operating system: NixOS
- ZSH framework: antibody (but I could reproduce this issue even with plain `source`)
- ZSH version: zsh 5.8 (x86_64-pc-linux-gnu)
- ZVM version: [current master](https://github.com/jeffreytse/zsh-vi-mode/commit/13548af0658f85a457b42063cd16ae664a7ff9ca)

## Basic examination

- [x] I have read through the [README

[2022-01-31 01:18] morhekil commented on #127
I had a similar issue related to `marlonrichert/zsh-autocomplete` plugin. It binds its search function to `^R`, which got overwritten by zvm:

[code]

The workaround given above (rebinding `^R` back to `fzf-history-widget` in `zvm_after_init`) fixed this for me as well.

[2022-02-04 13:57] KeqiZeng opened #164 "unexpected behavior about vv"
## General information

Terminal program: iTerm2 (3.4.12)
Operating system: M1 MacOS Monterey 12.2
ZSH framework: none
ZSH version: zsh 5.8 (arm-apple-darwin20.2.0)
ZVM version: latest

## Basic examination

- [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [x] I have the latest version of zsh-vi-mode
- [x] I have tested with another terminal program

## Prob

[2022-02-05 08:05] jclsn opened #165 "How can I get back the old history search behavior in insert mode?"
## General information

## Basic examination

- [x ] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [ x] I have the latest version of zsh-vi-mode
- [ ]x I have tested with another terminal program

## Problem description
When using the plugin, normal search behavior is gone. I mean that you can type sudo and then search all commands starting with sudo by hitting

[2022-02-14 04:55] justFeli-x commented on #154
Hello ! I have a similar issue ! I only have `zsh-syntax-highlighting` and `zsh-autosuggestions` (+ completions), using no plugin manager. Whenever I add zvm to the mix, no matter the position, no more syntax highlighting at all.

[2022-02-14 09:44] piotrraczynski commented on #165
Same here.

Great plugin, however this history thing is very annoying. Any plan to fix it or is there any workaround for the time being?

[2022-02-14 16:12] jclsn commented on #165
I fixed it by ditching this plugin completely. Just add bindkey -v to your .zshrc and you will have almost the same functionality.

[2022-02-16 08:05] suchmaske commented on #165
Thanks @jclsn. I had the same issue. I added `bindkey -v` to my `.zshrc` and it works like a charm.

[2022-02-21 08:55] jeffreytse commented on #122
Hi @anuvyklack

For the temporary solution, you can comment the line [L3152](https://github.com/jeffreytse/zsh-vi-mode/blob/63e5a5209b238771e528dd22d2ac1a317ace7319/zsh-vi-mode.zsh#L3152) as below:

[code]

Thanks & Regards

[2022-02-22 04:33] weirongxu commented on #122
Same problem here.
My environment:

## General information

Linux

- Operating system: Linux 5.9.16-1-MANJARO x86_64
- ZSH framework: none
- ZSH version: 5.8 (x86_64-pc-linux-gnu)
- ZVM version: 7878372
- TMUX version: 3.2a

---

MacOS

- Operating system: Darwin 20.6.0 x86_64
- ZSH framework: none
- ZSH version: 5.8.1 (x86_64-apple-darwin20.6.0)
- ZVM version: 7878372
- TMUX version: 3.2a

## Rep

[2022-02-22 08:31] Alex-duzhichao commented on #111
@jeffreytse Hi, I am using `blinking beam` as insert mode cursor style and `blinking block` as normal mode cursor style. When I switch from insert mode to normal mode, I noticed there is a little delay between when I press `ESC` key and when the cursor becomes to `blinking block`. But when I switch from normal mode to insert mode, the cursor becomes to `blinking beam` instantly. I searched this pr

[2022-02-22 12:42] jeffreytse commented on #111
Hi @Alex-duzhichao

Thanks for your question, can you provide me some more details such as a video record for this behavior, your environment info and so on.

Thanks & Regards

[2022-02-23 06:39] Alex-duzhichao commented on #111
Hi @jeffreytse
Thank you for you reply.  After some test, I find the [npm plugin in ohmyzsh](https://github.com/ohmyzsh/ohmyzsh/blob/master/plugins/npm/npm.plugin.zsh) is the reason causes the delay. After uninstall the npm plugin, the delay disappears.
Thank you for your help again.

[2022-02-23 07:32] jeffreytse commented on #111
Hi @Alex-duzhichao

It's glad to hear your good news. Hope you have a good day! : )

Thanks & Regards

[2022-02-23 09:40] Hubro commented on #111
I had the exact same issue with the exact same plugin. I don't think it's really the plugin's fault, but NVM itself. When you source the NVM script it takes a second or two for some reason. I worked around the issue by installing NVM through my package manager and sourcing it myself with the `--no-use` flag, which avoids the startup delay.

[code]

[2022-02-27 10:43] GordianDziwis opened #168 "Conflict with zsh-autocomplete and fast-syntax-highlighting"
## General information

Please report the following information as possible as you can:

- Terminal program: gnome-terminal 3.38.1-1ubuntu2
- Operating system: Ubuntu 21.10
- ZSH framework: zinit
- ZSH version: zsh 5.8 (x86_64-ubuntu-linux-gnu)

## Basic examination

- [X] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [X] I have the latest version of zsh-vi-mod

[2022-02-28 07:07] stimw opened #169 "zvm doesn't work after source .zshrc"
## General information

- Terminal program: iTerm 3.4.15
- Operating system: MacOS 12.2.1 & Debian 11 (bullseye)
- ZSH framework: oh-my-zsh
- ZSH version: 5.8
- ZVM version: v0.8.5

## Basic examination

- [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [x] I have the latest version of zsh-vi-mode
- [ ] I have tested with another terminal program

## Problem

[2022-04-05 15:04] wolfo opened #174 "Conflict with zaw"
## General information

## Basic examination

- [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [x] I have the latest version of zsh-vi-mode
- [x] I have tested with another terminal program

## Problem description

I prefer to use zaw for searching the history, but the up/down keybindings are overwritten, even when manually loading zaw after zsh-vi-mode.

##

[2022-04-10 17:12] gonubana commented on #158
Just to say that I'm rooting for this feature too.

[2022-04-16 11:25] sohilkaushal opened #175 "Doco is missing instructions for sourcing the file when installing via homebrew"
## General information

- Terminal program: alacritty 0.10.1 (2844606)
- Operating system: MacOS 12.2.1
- ZSH framework: N/A
- ZSH version: 5.8.0
- ZVM version: N/A

## Basic examination

- [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [x] I have the latest version of zsh-vi-mode
- [x] I have tested with another terminal program

## Problem description

Eve

[2022-04-20 02:02] michaelorr commented on #122
I am also running into this issue. My environment is structurally the same as @weirongxu 's MacOS setup

[2022-04-20 06:35] akhiljalagam commented on #130
in my case, commenting the following line in .zshrc resolved the issue
`setopt SH_WORD_SPLIT`

[2022-04-27 16:36] kangadrewie commented on #158
Same here - any idea on how this might be done @jeffreytse? We might be able to put in a PR for this feature

[2022-04-27 17:55] kangadrewie commented on #158
I've opened a PR to add this in @jeffreytse 😃  Check out #177

[2022-05-06 20:22] kangadrewie commented on #158
Looks like my PR has been closed. Owner might have a different approach to doing this

[2022-05-09 14:50] gonubana commented on #158
Looks like @kangadrewie's fix didn't accept a count. So neither 3gj nor 2gk would work. There is also a change that looks like a typo in the zvm_escape_non_printed_characters() function.

[2022-05-09 15:01] jeffreytse commented on #158
Hi @kangadrewie

Thanks for your contribution, I didn't close your PR, and as @gonubana said, there is a typo in the `zvm_escape_non_printed_characters()` function. : )

Thanks & Regards

[2022-05-13 22:36] luisbc92 commented on #154
The same thing happens to me. Can't get either to work.

[2022-05-16 20:21] piersolenski commented on #124
Also getting this with Starship regardless of whether in tmux or not...

[2022-05-21 14:39] kuang22 commented on #169
meet same problem

[2022-05-22 04:14] scresante commented on #134
Unfortunately, this is still an issue, using st and the latest git pull of zsh-vi-mode

[2022-05-24 20:46] blank-manash commented on #169
I am also facing the same issue.

[2022-05-30 03:25] scresante commented on #124
It's not specific to starship. I don't use starship, and I still have this issue.

[2022-05-30 04:27] scresante commented on #136
Thanks for the hint @awray3  . I found that removing that one line from the current master on this version of zvm somewhat helps, but spamming <esc> still results in weird behavior.

I applied your suggestion to my own fork of the project, after reverting the changes mentioned [here](https://github.com/jeffreytse/zsh-vi-mode/issues/124#issuecomment-924194611) and now things are working fine with z

[2022-05-30 12:04] JettChenT commented on #148
I had the same issue, and It doesn't look like that this is currently possible with zsh-vi-mode.

Here's a useful [post](https://rm-rf.ca/posts/2020/zsh-vi-mode/) I found on the internet that accomplishes this without the plugin, all you have to do is paste the code snippet in the post into your .zshrc

[2022-06-01 22:30] scresante commented on #135
What worked for me was simply sourcing https://github.com/joshskidmore/zsh-fzf-history-search after sourcing zvm.

Also I have a highly modified zvm with tons of functionality I don't need stripped out, so YMMV.

[2022-06-01 22:39] scresante commented on #134
The easiest way to fix this, without modifying zmv, is to simply re-bindkey the functionality in your .zshrc after sourcing zmv.

But using the terminfo method is important from a cross-platform compatibility standpoint.

The underlying issue is that apparently, people get different escapes for their home/end keys.

In the original zmv source, it assumes the end key, for example, is `^[[F` while o

[2022-06-01 23:10] scresante commented on #169
I can't reproduce this.
New user on arch box. Install oh-my-zsh using curl method. Changed my .zshrc to yours.

First and foremost, oh-my-zsh won't even load those plugins, they don't exist.
[code]
There is no zsh-vi-mode plugin for oh-my-zsh. [It's vi-mode.](https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/vi-mode)

Try using this configuration (with an up-to-date install of oh-my-zsh) and

[2022-06-02 00:17] scresante commented on #164
Does this only happen with a specific command line or with any command line?
If it's specific, please post

[2022-06-02 03:11] scresante opened #181 "Repeat action in normal mode chomps lines above"
- Terminal program: st
- Operating system: arch
- ZSH framework: no
- ZSH version: 5.9
- ZVM version: commit 9e909d0bdd
- tmux version: tmux-git 9694_3.2a.r405.g88d9a8fc-1

## Basic examination

- [despite its length, yes] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [tested against a clean HEAD] I have the latest version of zsh-vi-mode
- [yes] I have tested w

[2022-06-02 03:15] scresante commented on #181
This isn't exactly related to the *other* line-chomping bug that exists. I've already corrected that in my repo at https://github.com/scresante/zsh-vi-mode/commit/1fd923de0aa6f9e4442d7c60b85c0e62589c5fb4 which has PR #180 .

Testing against that yields the same results as described above.

[2022-06-02 03:33] scresante commented on #181
Testing in native `bindkey -v`, and . (period) works as expected there.
Also, softmoth's plugin doesn't screw it up.

[2022-06-03 07:27] kuang22 commented on #169
Hey guys, I found a simple solution to this.
If you are using omz, just "omz reload" after sourcing the .zshrc. Then everything will goes well.
Considering the "source .zshrc" operation is not that often for me, This solution is enough for me.

[2022-06-03 09:37] vanarok commented on #19
Also for wayland (need is wl-clipboard)
zvm_vi_yank () {
	zvm_yank
	printf %s "${CUTBUFFER}" |  wl-copy -n
	zvm_exit_visual_mode
}

[2022-06-04 09:30] reaz1995 commented on #19
also you can make p/P  paste from the windows clipboard by changing zvm_vi_put_after and zvm_vi_put_before as follow:
[code]
would be great to add one variable which will decide if use custom clipboards, if yes then left the user specify yank/past command

[2022-06-06 09:24] jclsn commented on #165
@jeffreytse No worries. Just merge this when you find the time :)

[2022-06-14 09:13] PowerUser64 opened #182 "Bug - canceling `d` or `c` with `escape` still performs an action"
**General information**

- Alacritty 0.11.0-dev (hash d9c6c8d5)
- Manjaro Linux 5.15
- `zsh` 5.9
- zvm (hash 9e909d0)

**Basic examination**

- [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [x] I have the latest version of zsh-vi-mode
- [x] I have tested with another terminal program

---

*note: when I say "action," I mean command. I'm just saying action t

[2022-06-25 14:26] xPMo commented on #158
I started looking at this for [my own plugin](https://github.com/zsh-vi-more/vi-motions), and it gets super complex if you want to do it totally correctly. You could probably get away with this (accepts count):

[code]

But this only works if:

- moving with a wrapped line, not between lines
- that wrapped line doesn't have tab characters

This might be good enough to appease most people; while I

[2022-07-08 20:43] mattiasbonte commented on #154
Same issue for me as well. Using omz to manage plugins.

[2022-07-10 02:46] fightyz commented on #169
+1

[2022-07-13 09:36] ljurk commented on #111
Thanks for this link. I experienced the same issue and for me, tmux was the problem. Adding `set -s escape-time 0` to my .tmux.conf solved the issue for me.

[2022-07-14 06:27] Tainted-Fool opened #185 "Conflict with Zsh-autopair"
## General information

## Basic examination

- [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [x] I have the latest version of zsh-vi-mode
- [x] I have tested with another terminal program

## Problem description

All my plugins were working properly until I introduced this plugin into the mix. Basically, this plugin conflicts with (zsh-autopair)[https://gi

[2022-07-16 18:26] niksingh710 commented on #130
any updates regarding this?

[2022-07-17 12:08] niksingh710 opened #186 "Cursor not blinking foot terminal"
setting `term=xterm-256color` solves the issue or changing cursor type in vim mode.
but cursor blinking not working enabled in foot.ini and added zvm variable too.

[2022-07-18 13:59] dagadbm opened #187 "Ctrl commands are broken"
## General information

When using zsh-vi-mode I try to use Ctl-Z or Ctrl-G or Ctrl-F to do several fzf commands I usually run but when I try to use them with zsh-vi-mode it doenst work.

Here are the relevant functions that do it:

https://github.com/dagadbm/dotfiles/blob/master/zsh/zshrc.zsh#L116

## Basic examination

- [ ] I have read through the [README](https://github.com/jeffreytse/zsh-vi-m

[2022-07-19 06:31] CamilleHbp commented on #169
I can confirm that `zsh-vi-mode` does not work for me either. I was able to fix it by running `omz reload` as per @kuang22 advice.

[2022-07-23 01:25] Fengjing95 commented on #169
+1

[2022-07-29 17:02] grzesuav opened #189 "Question : does this plugins provides keybindings for insert mode?"
Hi, thanks for the plugin !

while going trough readme, and I cannot find if there is any override for i.e. movements command (like move to the previous word etc) for `insert` mode.

Also, maybe you could emphasis in readme in which mode given binding should work (or I missed that somehow)? I guess most of them is for `NORMAL` mode, right ?

[2022-07-31 03:12] glyh commented on #126
This is working but lags in my term, would someone share me their config so I can try it out?

Thanks a lot

[2022-08-03 11:41] Stianhn opened #190 "Cursor issues when using Tmux"
## General information
When working outside of tmux the cursor works fine, showing an beam style cursor when in insert mode. But when Im working inside tmux it`s always showing a block cursor.

Alactritty
MacOS 12.4
oh-my-zsh
zsh 5.8.1
zvm 0.8.5

## Basic examination

- [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [x] I have the latest version of zsh-vi-mo

[2022-08-12 09:04] oopjot commented on #190
Could you provide your `.zshrc` file? Please make sure you load all your plugins before sourcing `oh-my-zsh.sh` file.

[2022-08-13 23:31] reportaman commented on #190
It works fine on my end, you might also want to report ``$ infocmp $TERM`` both inside and outside tmux. Most such issues have something to do with the settings of terminfo.

[2022-08-18 15:54] sidoverflow commented on #154
Replaced `zsh-syntax-highlighting` with [`fast-syntax-highlighting`](https://github.com/zdharma-continuum/fast-syntax-highlighting) to fix the interference with syntax highlighting!

[2022-08-21 12:03] javierMorales9 commented on #149
Hello,
I still have the problem, is there any solution?

[2022-08-23 17:12] michaelorr commented on #122
I have pushed up a PR which attempts to fix this issue:
https://github.com/jeffreytse/zsh-vi-mode/pull/191

I cannot test in IntelliJ and would love if someone were able to verify the behavior there.

[2022-08-24 11:27] michal-cab commented on #190
also have this issue and can't change cursor type - it is still nonblinking beam (normal mode) and nonblinking block (insert mode)
not working in

ubuntudtudio 21.04 / konsole 21.12.3
zsh 5.8.1
oh-my-zsh
zvm 0.8.5

.zshrc:
'''
#
export PATH=$HOME/.local/bin:/usr/local/bin:$PATH

export ZSH="$HOME/.oh-my-zsh"

ZSH_THEME="gallois"

#plugine before sourcing
plugins=(git zsh-vi-mode)

source $ZSH/oh-m

[2022-08-24 13:58] ckirkos commented on #181
I see this problem also.

[2022-08-31 07:26] Schievel1 commented on #154
Thanks, that seems to work. For me at least.

[2022-09-07 07:48] nwaywood commented on #124
I needed to use PR #180 AND do point 2 here https://github.com/jeffreytse/zsh-vi-mode/issues/124#issuecomment-1021410225 to fix it.

Note that I use pure prompt

[2022-09-10 00:58] anderslundstedt commented on #160
Putting the following in my .zshrc solved the above problem and similar problems I had when pressing ‘x’ to delete in visual mode.

[code]

Being not very experienced with ZSH or this plugin, I do not know if this is a proper solution, but before I made the above change I noticed that ‘d’ and ‘x’ had different key bindings in visual mode:

[code]

I do not know whether this was due to a mistake in

[2022-09-12 01:08] 0MR4N commented on #190
try this command: `export VI_MODE_SET_CURSOR=true`

if it works, add it to the zshrc

[2022-09-15 10:15] Stianhn commented on #190
That did not change anything for me.

[2022-09-19 06:47] anupamsr commented on #159
The error is in `if [[ $old_style =~ '\e\][0-9]+;.+\a' ]]; then` in zsh-vi-mode.zsh:3047

[2022-09-22 05:31] fpotter commented on #190
@Stianhn Are you running over mosh by chance?  Apparently mosh doesn't respect the updated cursor: https://github.com/mobile-shell/mosh/issues/1084

[2022-09-26 12:56] antony-frolov commented on #187
Same issue

[2022-09-28 02:34] michaelorr commented on #122
Barring any further bug reports here, I think this is fixed by https://github.com/jeffreytse/zsh-vi-mode/pull/191

[2022-09-28 02:35] michaelorr commented on #122
Thank you everyone for the helpful diagnostic information above that led to the fix and thank you to @jeffreytse for maintaining this project and merging my commit!

[2022-10-05 07:30] anderslundstedt commented on #19
FWIW, here is my solution for getting zsh-vi-mode to play nicely—given my preferences¹—with system clipboards. I have not done any thorough testing but I have not noticed any problems since I started using this solution some weeks ago. (`cbread` and `cbprint` are custom functions I have for writing and reading to and from the system clipboard, respectively.²)

[code]

¹ I only work with one clipbo

[2022-10-09 14:13] parispjones opened #193 "Unable to define zvm_config outside of zsh-vi-mode.zsh"
## General information

- Terminal program: Kitty
- Operating system: Ubuntu
- ZSH framework: antidote
- ZSH version: 5.8
- ZVM version: 0.8.5

## Basic examination

- [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [x] I have the latest version of zsh-vi-mode
- [ ] I have tested with another terminal program

## Problem description

When cloning this repo, i

[2022-10-10 21:40] Acumane commented on #19
For anyone on WSL2 for Windows:
[code]

[2022-10-13 11:25] ColinChrist commented on #189
you can map insert to another key. I mapped it to 'l' for example:
zvm_bindkey vicmd 'l' zvm_enter_insert_mode

However, I were not able to map 'i' to something else then insert mode.

[2022-10-14 16:37] hgl commented on #111
I have the same issue, using presto, without nvm or tmux. zsh-vi-mode is installed by cloning them renaming zsh-vi-mode.plugin.zsh to init.zsh. Normal to Insert mode is fine, but Insert to Normal manifests a noticeable delay where the bar cursor is turned into block after the delay.

[2022-10-21 03:18] zabeiua opened #194 "No yss" to add quotes to the whole line."
## General information

## Problem description
I'd like to add quoted to the whole line quickly. It's yss" in vim. But i've got to visually select and add quotes to the selection. Can't you add yss" ?

[2022-11-01 18:59] tjex commented on #187
this is addressed in the [readme](https://github.com/jeffreytse/zsh-vi-mode#execute-extra-commands)

[2022-11-02 16:01] tjex commented on #114
having the same problem, but unfortunately [the fix](https://github.com/jeffreytse/zsh-vi-mode/issues/114#issuecomment-874902399) didnt work for me. Will keep looking and post back for other use cases like mine.

[2022-11-10 16:10] diminutivesloop opened #195 "some ctrl-* keybindings only work with insert mode"
## General information

- Terminal program: Terminal 2.12.7
- Operating system: Mac OS 12.6.1
- ZSH framework: oh-my-zsh
- ZSH version: 5.8.1
- ZVM version: 0.9.0

## Basic examination

- [x] I have read through the [README](https://github.com/jeffreytse/zsh-vi-mode) page
- [x] I have the latest version of zsh-vi-mode
- [ ] I have tested with another terminal program

## Problem description

Some